Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

rename test
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
Due: none

Updating googet package name
  daisy_workflows/image_import/windows/translate.ps1
Due: none

[ImageExport] allow custom compute service account (#1399)
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools_tests/e2e/gce_image_import_export/main.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/variables.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Generalize UEFI processor
  cli_tools/gce_vm_image_import/importer/metadata_processor.go
  cli_tools/gce_vm_image_import/importer/metadata_processor_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
  cli_tools/gce_vm_image_import/importer/uefi_processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Generalize UEFI processor (#1447)
  cli_tools/gce_vm_image_import/importer/metadata_processor.go
  cli_tools/gce_vm_image_import/importer/metadata_processor_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
  cli_tools/gce_vm_image_import/importer/uefi_processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Switch existing CentOS 6 based OVF import E2E tests to CentOS 8 as CentOS is end-of-life and failing translation
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Switch existing CentOS 6 based OVF import E2E tests to CentOS 8 as CentOS is end-of-life and failing translation (#1449)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Fix CentOS 8 OVF import E2E tests. Renaming.
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/go.sum
Due: none

Updating googet package name that is uninstalled as part of --no-guest-environment flag (#1445)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Fix CentOS 8 OVF import E2E tests. Renaming. (#1450)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/go.sum
Due: none

Image import: Make --os optional
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/metadata_processor.go
  cli_tools/gce_vm_image_import/importer/metadata_processor_test.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/windows/translate_windows_8_x86_byol.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Tony's feedback
  cli_tools/common/utils/logging/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI: Add new common logger
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/logging/logger_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/tar_gcs_extractor.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/mocks/mock_logger.go
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/go/pbtesting/assert_matcher.go
  proto/go/pbtesting/gomock_matcher.go
  proto/output_info.proto
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/logging/logger_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/tar_gcs_extractor.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/mocks/mock_logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/metadata_processor.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add link to docs
  cli_tools/gce_vm_image_import/importer/process_planner.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI: Add new common logger (#1444)
  cli_tools/common/utils/logging/logger.go
  cli_tools/common/utils/logging/logger_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/common/utils/storage/tar_gcs_extractor.go
  cli_tools/common/utils/storage/tar_gcs_extractor_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/mocks/mock_logger.go
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/go/pbtesting/assert_matcher.go
  proto/go/pbtesting/gomock_matcher.go
  proto/output_info.proto
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Pick translator based on OS detection when `--os` unspecified (#1451)
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/metadata_processor.go
  cli_tools/gce_vm_image_import/importer/metadata_processor_test.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/windows/translate_windows_8_x86_byol.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating the GCE Windows Build
  daisy_workflows/image_build/windows/README.md
  daisy_workflows/image_build/windows/bootstrap_install.ps1
  daisy_workflows/image_build/windows/components/Autounattend-template.xml
  daisy_workflows/image_build/windows/components/SetupComplete.cmd
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-build.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi.wf.json
Due: none

Update README.md
  daisy_workflows/image_build/windows/README.md
Due: none

Import e2e: Only check licenses when provided expected value
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/import/inflater_test.go
Due: none

Import e2e: Only check licenses when provided expected value (#1454)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/import/inflater_test.go
Due: none

Updating workflow variables
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi.wf.json
Due: none

Update windows-build.wf.json
  daisy_workflows/image_build/windows/windows-build.wf.json
Due: none

Configuring WinRM on Windows clients
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Import: Remove support for CentOS 6
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/centos_6_qcow2_translate.wf.json
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Handle case where ListImages gets permission denied
  daisy/image.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

machine image import E2E tests to use centos 7 instead of 8
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Added BYOL, .NET 4.8 Installer, UEFI bug fix
  daisy_workflows/image_build/windows/README.md
  daisy_workflows/image_build/windows/bootstrap_install.ps1
  daisy_workflows/image_build/windows/components/SetupComplete.cmd
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-build.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
Due: none

Use CentOS 7 instead of 8 for OVF import E2E tests. (#1457)
  cli_tools/go.sum
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  common/gcp/instance.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

move centos-6 from google3 to github
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/debian/debian_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_8_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_6.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_6.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_uefi.wf.json
Due: none

fix rhel_7_4_sap
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.wf.json
Due: none

move centos debian rhel wf and publish json to github (#1452)
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_10.wf.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/debian/debian_9.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_7_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_8_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_6.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_6.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_uefi.wf.json
Due: none

typo in build wf
  daisy_workflows/build-publish/enterprise_linux/rhel_7_uefi.wf.json
Due: none

typo in build wf (#1459)
  daisy_workflows/build-publish/enterprise_linux/rhel_7_uefi.wf.json
Due: none

Add gaohannk to reviewers
  OWNERS
Due: none

Import: Remove support for CentOS 6 (#1458)
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils_test.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/centos_6_qcow2_translate.wf.json
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Handle case where ListImages gets permission denied (#1456)
  daisy/image.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Fix go.mod to use local daisy version
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update daisy version in cli_tools/go.mod (#1461)
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
