Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Updating filename
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.publish.json
Due: none

Modify scratch bucket creation name to not use "."
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add env for staging publish to gce-staging-images project.
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_85_lts.publish.json
  daisy_workflows/build-publish/partner/cos_89_lts.publish.json
  daisy_workflows/build-publish/partner/cos_dev.publish.json
  daisy_workflows/build-publish/partner/fedora_33.publish.json
  daisy_workflows/build-publish/partner/fedora_34.publish.json
  daisy_workflows/build-publish/partner/fedora_34_export.wf.json
  daisy_workflows/build-publish/partner/fedora_coreos_next.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_stable.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_testing.publish.json
  daisy_workflows/build-publish/partner/freebsd_11.publish.json
  daisy_workflows/build-publish/partner/freebsd_13.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15.publish.json
  daisy_workflows/build-publish/partner/sles_12.publish.json
  daisy_workflows/build-publish/partner/sles_15.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1604.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2004.publish.json
Due: none

Add env for staging publish to gce-staging-images project. (#1674)
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_85_lts.publish.json
  daisy_workflows/build-publish/partner/cos_89_lts.publish.json
  daisy_workflows/build-publish/partner/cos_dev.publish.json
  daisy_workflows/build-publish/partner/fedora_33.publish.json
  daisy_workflows/build-publish/partner/fedora_34.publish.json
  daisy_workflows/build-publish/partner/fedora_34_export.wf.json
  daisy_workflows/build-publish/partner/fedora_coreos_next.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_stable.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_testing.publish.json
  daisy_workflows/build-publish/partner/freebsd_11.publish.json
  daisy_workflows/build-publish/partner/freebsd_13.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15.publish.json
  daisy_workflows/build-publish/partner/sles_12.publish.json
  daisy_workflows/build-publish/partner/sles_15.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1604.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2004.publish.json
Due: none

Updated to use gce-staging-images
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.publish.json
Due: none

Removing SourceGCSPath
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.publish.json
Due: none

Adding Windows Server and Container build and publish workflows for Concourse (#1672)
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.wf.json
Due: none

Fix staging endpoint and use worker project we can write to.
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_85_lts.publish.json
  daisy_workflows/build-publish/partner/cos_89_lts.publish.json
  daisy_workflows/build-publish/partner/cos_dev.publish.json
  daisy_workflows/build-publish/partner/fedora_33.publish.json
  daisy_workflows/build-publish/partner/fedora_34.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_next.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_stable.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_testing.publish.json
  daisy_workflows/build-publish/partner/freebsd_11.publish.json
  daisy_workflows/build-publish/partner/freebsd_12.publish.json
  daisy_workflows/build-publish/partner/freebsd_13.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15.publish.json
  daisy_workflows/build-publish/partner/sles_12.publish.json
  daisy_workflows/build-publish/partner/sles_15.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1604.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2004.publish.json
Due: none

fix
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix staging endpoint and use worker project we can write to. (#1675)
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_85_lts.publish.json
  daisy_workflows/build-publish/partner/cos_89_lts.publish.json
  daisy_workflows/build-publish/partner/cos_dev.publish.json
  daisy_workflows/build-publish/partner/fedora_33.publish.json
  daisy_workflows/build-publish/partner/fedora_34.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_next.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_stable.publish.json
  daisy_workflows/build-publish/partner/fedora_coreos_testing.publish.json
  daisy_workflows/build-publish/partner/freebsd_11.publish.json
  daisy_workflows/build-publish/partner/freebsd_12.publish.json
  daisy_workflows/build-publish/partner/freebsd_13.publish.json
  daisy_workflows/build-publish/partner/opensuse_leap_15.publish.json
  daisy_workflows/build-publish/partner/sles_12.publish.json
  daisy_workflows/build-publish/partner/sles_15.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1604.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2004.publish.json
Due: none

Fix rocky linux template.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix staging licenses.
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix rocky linux template and staging licenses. (#1676)
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix staging license if statement.
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix staging license if statement. (#1678)
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

avoid interleaved output
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rename func name
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

avoid interleaved output (#1679)
  cli_tools/common/image/importer/api_inflater.go
  daisy_workflows/export/export_disk.sh
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fixing variable for cloud sdk
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
Due: none

Fixing variable for cloud sdk (#1681)
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
Due: none

Updating variables passed to workflows
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
Due: none

Updating variables passed to workflows (#1682)
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
Due: none

Fixing variable in windows_export.wf
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Fixing variable in windows_export.wf (#1683)
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Fixing destination variable case
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Fixing destination variable case (#1684)
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Modify scratch bucket creation name to not use "." (#1680)
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disable root login for sshd on Debian fai builds.
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/scripts/12-sshd
Due: prow/presubmit/flake8

Disable root login for sshd on Debian fai builds. (#1685)
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/fai_config/scripts/12-sshd
Due: prow/presubmit/flake8

Add missing source file.
  daisy_workflows/image_build/debian/debian_fai.wf.json
Due: none

Add missing source file. (#1686)
  daisy_workflows/image_build/debian/debian_fai.wf.json
Due: none

Update export_disk_ext.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

Fix typo (missing comma)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
Due: none

Fix typo (missing comma) (#1688)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
Due: none

Add SEV_CAPABLE flag to partner images.
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_85_lts.publish.json
  daisy_workflows/build-publish/partner/cos_89_lts.publish.json
  daisy_workflows/build-publish/partner/cos_dev.publish.json
  daisy_workflows/build-publish/partner/sles_15.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2004.publish.json
Due: none

Prefer `europe-west4` over `europe-north` when source file is in `eur4` dual region as `europe-west4` is supported by Cloud Build as of now.
  cli_tools/common/utils/storage/resource_location_retriever.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Added support for `ASIA1` dual region when determining zone to run operations in.
  cli_tools/common/utils/storage/resource_location_retriever.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update dual-region to region mappings (#1690)
  cli_tools/common/utils/storage/resource_location_retriever.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[onestep import] output help link for customers
  cli_tools/gce_onestep_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools
