Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Add e2e test to validate rollout of ubuntu-2004 to gcloud.
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

Fixed GcloudGaLatestWrapperRelease E2E tests not running
  cli_tools_e2e_test/common/utils/utils.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

Fixed GcloudGaLatestWrapperRelease E2E tests not running (#1363)
  cli_tools_e2e_test/common/utils/utils.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

rebase
  cli_tools_e2e_test/common/utils/utils.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

EL import: Don't fail when unexpected directory in /lib/modules
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

Add e2e test to validate rollout of ubuntu-2004 to gcloud. (#1362)
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

zoran's feedback
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

EL import: Don't fail when unexpected directory in /lib/modules (#1364)
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

SUSE import: Support 15.2; Parity for SLES for SAP
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_sles_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_15_byol.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/linux_common/pyproject.toml
  daisy_workflows/linux_common/setup.py
  daisy_workflows/linux_common/tests/__init__.py
  daisy_workflows/linux_common/tests/test_configs.py
  daisy_workflows/linux_common/utils/common.py
  daisy_workflows/linux_common/utils/configs.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Remove UEFI harcoding after rebasing.
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_vm_image_import/importer/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

switch to debian 10 worker for opensuse
  daisy_workflows/image_import/suse/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
Due: prow/presubmit/flake8

fix unit test
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

SUSE import: Support 15.2; Parity for SLES for SAP (#1356)
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_sles_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_15_byol.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/linux_common/pyproject.toml
  daisy_workflows/linux_common/setup.py
  daisy_workflows/linux_common/tests/__init__.py
  daisy_workflows/linux_common/tests/test_configs.py
  daisy_workflows/linux_common/utils/common.py
  daisy_workflows/linux_common/utils/configs.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Disable shadow VMDK inflation.
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Disable shadow VMDK inflation. (#1367)
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Disable shadow VMDK inflation. (#1366)
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add e2e tests to validate rollout of new SLES targets to gcloud
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

export-metadata v2 design
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.workflow.json
Due: prow/presubmit/flake8

Check if scratch bucket provided as a flag is in the same project, for image import and export.
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/flags/key_value_flag_test.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Check if scratch bucket provided as a flag is in the same project, for image import and export. (#1370)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/flags/key_value_flag_test.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
  cli_tools/mocks/mock_scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix gocheck
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Remove resources when bucket owned by different project
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Delete file, not whole bucket.
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Remove sourceFile when bucket owned by different project (#1373)
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

e2e test for: Remove resources when bucket owned by different project
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools_e2e_test/common/config/config.go
  cli_tools_e2e_test/common/go.mod
  cli_tools_e2e_test/common/go.sum
  cli_tools_e2e_test/diskinspect/disk_inspect_test.go
  cli_tools_e2e_test/import/go.mod
  cli_tools_e2e_test/import/go.sum
  cli_tools_e2e_test/import/scratch_ownership_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Only run inspection when -inspect flag is specified
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Only run inspection when -inspect flag is specified (#1377)
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

make ResizeDisk inherit Disk
  daisy/step_resize_disks.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add e2e tests to validate rollout of new SLES targets to gcloud (#1369)
  cli_tools_e2e_test/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests

be compatible with powershell <=2
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

bucket not in project metrics
  cli_tools/common/utils/errors/errors.go
  cli_tools/common/utils/logging/service/daisy_loggable.go
  cli_tools/common/utils/logging/service/daisy_loggable_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/go.mod
  daisy/error.go
  daisy/error_test.go
  daisy/image.go
  daisy/resource_registry.go
  daisy/sources.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

use function in common.py
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.workflow.json
Due: prow/presubmit/flake8

Deploy exporter wrapper image to all artifact registry regions
  cli_tools_cloudbuild.yaml
Due: none

zoran's feedback
  cli_tools_tests/e2e_tests/gce_image_import_export/main.go
  cli_tools_tests/e2e_tests/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e_tests/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e_tests/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e_tests/gce_image_import_export/test_suites/onestep_import/aws_test_utils.go
  cli_tools_tests/e2e_tests/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
  cli_tools_tests/e2e_tests/gce_image_import_export/test_suites/scripts/post_translate_test.wf.json
  cli_tools_tests/e2e_tests/gce_ovf_import/main.go
  cli_tools_tests/e2e_tests/gce_ovf_import/scripts/ovf_import_test_ubuntu_3_disks.sh
  cli_tools_tests/e2e_tests/gce_ovf_import/scripts/ovf_import_test_windows_two_disks.ps1
  cli_tools_tests/e2e_tests/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e_tests/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/e2e_tests/gce_windows_upgrade/main.go
  cli_tools_tests/e2e_tests/gce_windows_upgrade/test_suites/windows_upgrade/windows_upgrade_test_suite.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  cli_tools_tests/module_tests/README.md
  cli_tools_tests/module_tests/diskinspect/disk_inspect_test.go
  gce_image_import_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
  test-infra/README.md
  test-infra/prowjobs/gobuild/main.sh
  test-infra/prowjobs/gocheck/main.sh
Due: none
