Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

publish.go: Remove extra AddDependency call (#1577)
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add UT
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI tools: Pre-validate network and subnet (#1699)
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/param/network_resolver_test.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/paramhelper/network.go
  cli_tools/common/utils/paramhelper/network_test.go
  cli_tools/common/utils/paramhelper/resources.go
  cli_tools/common/utils/paramhelper/resources_test.go
  cli_tools/common/utils/paramhelper/subnet.go
  cli_tools/common/utils/paramhelper/subnet_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/param_populator.go
  cli_tools/gce_ovf_export/exporter/param_populator_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/mocks/mock_network_resolver.go
  cli_tools/mocks/mock_param_populator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Populate region prior to network
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI tools: Accept legacy apiary URL styles for resources
  cli_tools/common/utils/paramhelper/resources.go
  cli_tools/common/utils/paramhelper/resources_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

update other populator test
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI tools: Accept legacy apiary URL styles for resources (#1707)
  cli_tools/common/utils/paramhelper/resources.go
  cli_tools/common/utils/paramhelper/resources_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Populate region prior to network (#1706)
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Remove race condition in gcsfuse test
  cli_tools/common/imagefile/inspector_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy Refactor: Remove validation hooks from bootable disk processor
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add missing logger
  cli_tools/common/image/importer/processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy Refactor: Remove validation hooks from bootable disk processor (#1705)
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/processor_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

unit test
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove redundant
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[cli-tools] fix buffered writer err log prefix so it can be picked up by 'waitForInstanceSignals' (#1703)
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Don't re-zero PDs
  daisy_workflows/image_import/import_image.sh
Due: none

zoran's feedback
  daisy_workflows/image_import/import_image.sh
Due: none

Include comment for 512b.
  daisy_workflows/image_import/import_image.sh
Due: none

EL Import: Don't require yum
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Update import_image.sh
  daisy_workflows/image_import/import_image.sh
Due: none

Image import: Don't re-zero PDs (#1709)
  daisy_workflows/image_import/import_image.sh
Due: none

Remove NetworkManager-config-server with rpm if yum not available
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Revert "Image import: Don't re-zero PDs (#1709)"
  daisy_workflows/image_import/import_image.sh
Due: none

Revert "Image import: Don't re-zero PDs (#1709)" (#1711)
  daisy_workflows/image_import/import_image.sh
Due: none

EL Import: Don't require yum (#1710)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Image Export: Add logging for snapshot export
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_vm_image_export/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Make OVF import temporary bucket name safe for projects with the "google.com:" prefix
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Make OVF import temporary bucket name safe for projects with the "google.com:" prefix (#1713)
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: fix project IDs validation by supporting "google.com:" prefix
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: fix project IDs validation by supporting "google.com:" prefix (#1714)
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

correct selinux labels in chroot
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

correct selinux labels in chroot (#1715)
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

CLI Tools: Remove race condition in gcsfuse test (#1708)
  cli_tools/common/imagefile/inspector_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix flag names in gce_vm_image_import README (underscore vs dash)
  cli_tools/gce_vm_image_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Fix flag names in gce_vm_image_import README (underscore vs dash) (#1716)
  cli_tools/gce_vm_image_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Remove workflow.RunWithModifiers
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/daisycommon/daisy_worker_test.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  daisy/workflow.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix checksum output logic
  daisy_workflows/image_import/import_image.sh
Due: none

tzz's feedback
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image Export: Add logging for snapshot export (#1712)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_vm_image_export/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy: Remove disk.IsWindows
  cli_tools/test_data/test_import_ovf_to_instance.wf.json
  cli_tools/test_data/test_import_ovf_to_machine_image.wf.json
  daisy/disk.go
  daisy/disk_test.go
  daisy_workflows/image_import/import_and_translate.wf.json
  daisy_workflows/image_import/import_from_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy
