Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Image import: Add support for SLES 15.0 (#1636)
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Update dependencies for Daisy and dependent tools
  cli_tools/common/image/importer/source_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  daisy/compute/compute_test.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/step_copy_gcs_objects_test.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update dependencies for Daisy and dependent tools (#1637)
  cli_tools/common/image/importer/source_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  daisy/compute/compute_test.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/step_copy_gcs_objects_test.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating cli_tools_tests dependencies to match daisy versions
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Updating cli_tools_tests dependencies to match daisy versions (#1638)
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Image import: E2E tests for SLES 15.0 import
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Image import: E2E tests for SLES 15.0 import (#1639)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Refactor Generate-NativeImage
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Adding Alpha API support to the image create/deprecate processes.
  cli_tools/mocks/mock_compute_client.go
  cli_tools/mocks/mock_resource_location_retriever.go
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/image.go
  daisy/image_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Reverting 5 second sleep to 1 second.
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Adding Alpha API support to the image create/deprecate processes. (#1641)
  cli_tools/mocks/mock_compute_client.go
  cli_tools/mocks/mock_resource_location_retriever.go
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/image.go
  daisy/image_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Refactor Generate-NativeImage (#1640)
  daisy_workflows/image_build/windows/post_install.ps1
Due: none

Clean up dnf cache completely on el8
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
Due: none

Clean up dnf cache completely on el8 (#1642)
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
Due: none

Fix el8 complete dnf cache remove command
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
Due: none

Fix el8 complete dnf cache remove command (#1643)
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
Due: none

cleanerupper: add OSPolicyAssignments and staging osconfig resources (#1609)
  test-infra/prow/config.yaml
  test-infra/prowjobs/cleanerupper/go.mod
  test-infra/prowjobs/cleanerupper/go.sum
  test-infra/prowjobs/cleanerupper/main.go
Due: none

Add gve driver for bare metal.
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Add gve driver for bare metal. (#1645)
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Always install EPEL for EL8 bare metal.
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Adding image rollout policy support to GCE_Image_Publish
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add kernel-devel
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Add -byol string to avoid building SPLA image
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
Due: none

Add -byol string to avoid building SPLA image (#1649)
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
Due: none

Always install EPEL for EL8 bare metal. (#1646)
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Updating variable name to be more descriptive
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating zone order to ensure to verify the sort operation
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Adding image rollout policy support to GCE_Image_Publish (#1647)
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating DeprecationStatus in Daisy Alpha API
  daisy/step_deprecate_images.go
  daisy/step_deprecate_images_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating DeprecationStatus in Daisy Alpha API (#1650)
  daisy/step_deprecate_images.go
  daisy/step_deprecate_images_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating Daisy dependency for CLI tools
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Updating Daisy dependency for CLI tools (#1651)
  cli_tools/go.mod
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

OVF import: Apply user-provided tags to final instance
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add firewall in step_delete_resource step
  daisy/step_delete_resources.go
  daisy/step_delete_resources_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Put tags into existing e2e tests
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

OVF import: Apply user-provided tags to final instance (#1653)
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

address comments
  daisy/firewall_rule.go
  daisy/step_delete_resources.go
  daisy/step_delete_resources_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
