Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

[cli_e2e_tools_test] fix build
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

go version
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

fix buildf by revert go.mod/sum
  cli_tools/common/imagefile/inspector.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix buildf by revert go.mod/sum (#1788)
  cli_tools/common/imagefile/inspector.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Remove separate bundled py3 install for RHEL 7.6.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

Update rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

Remove separate bundled py3 install for RHEL 7.6. (#1789)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

tmp
  cli_tools/common/gcsfuse/client.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/imagefile/inspector.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix gcsfuse access issue: allow nested dirs
  cli_tools/common/gcsfuse/client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

dependency
  cli_tools/common/imagefile/inspector.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove debug code
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

remove blank line
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: Separate disk import from instance creation
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add windows server 2022 payg workflows
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
Due: none

Add wind2022 wrapper build work flows
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
Due: none

Add win2022 publish workflows
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.publish.json
Due: none

Add windows server 2022 payg workflows (#1793)
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-payg.wf.json
Due: none

Adding Windows Server 2022 build and publish workflows (#1794)
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2022-dc-uefi.wf.json
Due: none

add a unittest
  cli_tools/common/image/importer/daisy_inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

module test for file inspection
  cli_tools_tests/module/fileinspect/file_inspect_test.go
Due: none

expire time for test
  cli_tools_tests/module/fileinspect/file_inspect_test.go
Due: none

OVF import: Separate disk import from instance creation (#1792)
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[vmdk api adoption] Fix 2 bugs (#1790)
  cli_tools/common/gcsfuse/client.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools_tests/module/fileinspect/file_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

newline in SAP post
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

newline in SAP post (#1795)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

Ubuntu import: Add 99-disable-network-activation.cfg from official image
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

Ubuntu import: Add 99-disable-network-activation.cfg from official image (#1796)
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

rollback tag
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

tag prev release
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

Import: Add suport for SLES 15SP3
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

test crane
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

crane
  rollout/cli_tools_cloudbuild_build.yaml
Due: none

crane
  rollout/cli_tools_cloudbuild_deploy_rollback.yaml
Due: none

crane
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_deploy_rollback.yaml
Due: none

crane
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_deploy_rollback.yaml
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
