Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Use latest build
  daisy_workflows/image_build/windows/windows-11-InsiderPreviewEnterprise-x64-uefi-byol.wf.json
Due: none

EL6 import: Don't install guest packages
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Don't install the auto updater package on import (#1742)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

EL6 import: Don't install guest packages (#1750)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

fixed issue #1747, /etc/netplan/subdirectory (#1748)
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

Increase disk size to 40GB for Server Core
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
Due: none

[build] new rollout config
  cli_tools_cloudbuild_build.yaml
  cli_tools_cloudbuild_deploy.yaml
  cli_tools_cloudbuild_release_workflow.yaml
Due: none

adjust phase
  cli_tools_cloudbuild_release_workflow.yaml
Due: none

Add workflow for Windows Server 2022 BYOL (#1744)
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-byol.wf.json
Due: none

move to folder
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

support test
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Revert "EL6 import: Don't install guest packages (#1750)"
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Revert "EL6 import: Don't install guest packages (#1750)" (#1752)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

EL6 import: Enable rsyslog and add e2e test
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

move config to create script in google3
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Import precheck: Support disk checking back to EL7 (#1743)
  cli_tools/common/mount/inspector.go
  cli_tools/common/mount/inspector_test.go
  cli_tools/common/mount/mock_mount_inspector.go
  cli_tools/common/utils/shell/executor.go
  cli_tools/import_precheck/main.go
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
  cli_tools/import_precheck/precheck/check_disks_windows.go
  cli_tools/import_precheck/precheck/check_osversion.go
  cli_tools/import_precheck/precheck/check_osversion_test.go
  cli_tools/import_precheck/precheck/check_powershell.go
  cli_tools/import_precheck/precheck/check_sha2.go
  cli_tools/import_precheck/precheck/check_ssh.go
  cli_tools/import_precheck/precheck/report.go
  cli_tools/import_precheck/precheck/testdata/lsblk-efi.json
  cli_tools/import_precheck/precheck/testdata/lsblk-multi-disk-lvm.json
  cli_tools/import_precheck/precheck/testdata/lsblk-one-partition.json
  cli_tools/import_precheck/precheck/testdata/lsblk-single-disk-lvm.json
  cli_tools/mocks/mock_shell_exececutor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

EL6 import: Enable rsyslog and add e2e test (#1753)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Import: Use daisy worker for file inflation
  cli_tools/common/assert/assert.go
  cli_tools/common/assert/assert_test.go
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/mocks/mock_daisy_worker.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedbacK
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_vm_image_import/cli/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add --project arg
  rollout/cli_tools_cloudbuild_release_workflow.yaml
Due: none

Image Import: Use daisy worker (#1754)
  cli_tools/common/assert/assert.go
  cli_tools/common/assert/assert_test.go
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/mocks/mock_daisy_worker.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Export: Provide tool name
  cli_tools/gce_ovf_export/domain/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix test
  cli_tools/gce_ovf_export/domain/args_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Export: Provide tool name (#1755)
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Export: Use Daisy worker t
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
  cli_tools/gce_ovf_export/domain/test_data.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/instance_export_cleaner.go
  cli_tools/gce_ovf_export/exporter/instance_export_preparer.go
  cli_tools/gce_ovf_export/exporter/steps.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix cleanerupper deletion of OS policy assignments
  test-infra/prowjobs/cleanerupper/main.go
Due: none

fix cleanerupper deletion of OS policy assignments (#1756)
  test-infra/prowjobs/cleanerupper/main.go
Due: none

[import] respect custom network/subnet in shadow test workflow
  cli_tools/common/image/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image export: Use daisy worker
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Windows upgrade: Use daisy worker
  cli_tools/common/mount/inspector_test.go
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/common/image/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[import] respect custom network/subnet in shadow test workflow (#1758)
  cli_tools/common/image/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Use RTM build
  daisy_workflows/image_build/windows/windows-11-ent-x64-uefi-byol.wf.json
Due: none

Support the gcloud bundled python3 package for RHEL 7.6.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

Fix failure modes for install.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

Support the gcloud bundled python3 package for RHEL 7.6. (#1762)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
Due: none

Ubuntu import: Don't install cloud-init 21.3-1
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/tests/test_apt.py
  daisy_workflows/linux_common/utils/apt.py
Due: prow/presubmit/flake8

cleanerupper: update flag defaults and fix some issues with OSPolicyAssignments
  test-infra/prow/config.yaml
  test-infra/prowjobs/cleanerupper/main.go
Due: none

update
  test-infra/prowjobs/cleanerupper/main.go
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
