Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Move daisy integration tests to Debian 10 and debian-10-worker. (#1430)
  daisy_integration_tests/can_retrieve_sources.wf.json
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_latest.wf.json
  daisy_integration_tests/image_export_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_nondefault_network_latest.wf.json
  daisy_integration_tests/image_export_release.wf.json
  daisy_integration_tests/image_export_ssd_quota_exceeded.wf.json
  daisy_integration_tests/image_export_subnetwork_latest.wf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_integration_tests/image_export_vmdk_latest.wf.json
  daisy_integration_tests/image_export_vmdk_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_vmdk_release.wf.json
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
  daisy_integration_tests/step_attach_disks.wf.json
  daisy_integration_tests/step_copy_gcs_object.wf.json
  daisy_integration_tests/step_create_disks.wf.json
  daisy_integration_tests/step_create_images.wf.json
  daisy_integration_tests/step_create_instances.wf.json
  daisy_integration_tests/step_create_machine_images.wf.json
  daisy_integration_tests/step_create_networks.wf.json
  daisy_integration_tests/step_create_snapshots.wf.json
  daisy_integration_tests/step_detach_disks.wf.json
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
  daisy_integration_tests/validate_cloud_logging.wf.json
  daisy_integration_tests/vmdk_import_latest.wf.json
Due: none

Move imports/exports to use debian-10-worker.
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/pytest/boot-inspect

Support RHEL 8.2 for SAP.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-2-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Migrate cli_tools to use Debian 10 worker
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Support RHEL 8.2 for SAP. (#1333)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel8-2-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Remove unused image tests.
  test-infra/prow/config.yaml
Due: none

Replacing 1 minute wait with network connectivity checks and reboot remediation in run_startup_script.cmd.
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
Due: none

[VMDK shadow test] minor: fix error construction logic
  cli_tools/gce_vm_image_import/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Inspect OS and log results
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock.go
  cli_tools/common/utils/logging/service/daisy_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[VMDK shadow test] minor: fix error construction logic (#1435)
  cli_tools/gce_vm_image_import/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

/started/startTime/
  cli_tools/common/disk/inspect.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Move imports/exports to use debian-10-worker. (#1431)
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/pytest/boot-inspect

Image import: Inspect OS and log results (#1436)
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock.go
  cli_tools/common/utils/logging/service/daisy_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Migrate cli_tools to use Debian 10 worker (#1432)
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Remove unused image tests. (#1433)
  test-infra/prow/config.yaml
Due: none

Add link to Cloud Console for the output log.
  daisy/step_create_instances.go
  daisy/step_create_instances_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

cli-tools: Switch back to Debian 9 worker
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

lock to family
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

cli-tools: Switch back to Debian 9 worker (#1438)
  cli_tools/common/utils/daisy/daisy_utils_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_6.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/import_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Consolidated run_startup_scripts.cmd and run_startup_scripts_x86.cmd,
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
Due: none

Replace 1 minute wait with network connectivity checks and reboot remediation in run_startup_script.cmd. (#1434)
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
Due: none

Linux translate: Print status once (#1426)
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

OpenSUSE 15 translate: Use Debian 10
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
Due: none

OpenSUSE 15 translate: Use Debian 10 (#1441)
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
Due: none

EL import: Improve error messages for EL 6.4
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Update cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Revert "Replace 1 minute wait with network connectivity checks and reboot remediation in run_startup_script.cmd. (#1434)"
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
Due: none

EL import: Improve error messages for 6.4 (#1442)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Revert "Replace 1 minute wait with network connectivity checks and reboot remediation in run_startup_script.cmd." (#1443)
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
Due: none

servic account
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/args.go
  daisy/instance.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/image_export.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

refine
  daisy/instance.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

move scopes
  daisy/instance.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/image_export.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

more
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools_tests/e2e/gce_image_import_export/main.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/variables.go
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

simplify variables
  cli_tools/gce_vm_image_export/main.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/variables.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools_tests/e2e/variables.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

refine
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_vm_image_import/importer/args.go
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

temp
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

cleaned up code
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  daisy/instance.go
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

config
  gce_image_import_export_tests.Dockerfile
  test-infra/prow/config.yaml
Due: none

var name
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
