Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Add SEV_CAPABLE flag to partner images. (#1689)
  daisy_workflows/build-publish/partner/cos_81_lts.publish.json
  daisy_workflows/build-publish/partner/cos_85_lts.publish.json
  daisy_workflows/build-publish/partner/cos_89_lts.publish.json
  daisy_workflows/build-publish/partner/cos_dev.publish.json
  daisy_workflows/build-publish/partner/sles_15.publish.json
  daisy_workflows/build-publish/partner/ubuntu_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_2004.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_1804.publish.json
  daisy_workflows/build-publish/partner/ubuntu_pro_2004.publish.json
Due: none

rephraze
  cli_tools/gce_onestep_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[onestep import] output help link for customers (#1691)
  cli_tools/gce_onestep_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[import] calculate alloc size with minimum limit 10gb
  cli_tools/common/image/importer/daisy_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rename func
  cli_tools/common/image/importer/daisy_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[import] calculate alloc size with minimum limit 10gb (#1692)
  cli_tools/common/image/importer/daisy_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Make client_id optional
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_ovf_export/README.md
  cli_tools/gce_ovf_export/exporter/param_validator.go
  cli_tools/gce_ovf_export/exporter/param_validator_test.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add RHEL 8.4 for SAP image builds.
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
Due: none

Update export_disk_ext.sh
  daisy_workflows/export/export_disk_ext.sh
Due: none

Adding detection and remediation of static IP & DNS
  daisy_workflows/image_import/windows/network.ps1
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
  daisy_workflows/image_import/windows/translate_windows_wf.json
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
Due: none

Updated to use write-host in PowerShell and redirected all output of the execution to COM1:
  daisy_workflows/image_import/windows/network.ps1
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
Due: none

Reverting this change as it was only for testing.
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Adding detection and remediation of static IP & DNS (#1696)
  daisy_workflows/image_import/windows/network.ps1
  daisy_workflows/image_import/windows/run_startup_scripts.cmd
  daisy_workflows/image_import/windows/run_startup_scripts_x86.cmd
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
  daisy_workflows/image_import/windows/translate_windows_wf.json
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
Due: none

Verify placeholders in current workflow, not child workflow
  daisy/common.go
  daisy/test_data/TestNewFromFile_PopulatesVariables.child.wf.json
  daisy/test_data/TestNewFromFile_PopulatesVariables.parent.wf.json
  daisy/validate.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add RHEL 8.4 for SAP image builds. (#1695)
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_4_sap.wf.json
Due: none

CLI Tools: Make client_id optional (#1694)
  cli_tools/gce_onestep_image_import/README.md
  cli_tools/gce_onestep_image_import/onestep_importer/importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/importer_test.go
  cli_tools/gce_ovf_export/README.md
  cli_tools/gce_ovf_export/exporter/param_validator.go
  cli_tools/gce_ovf_export/exporter/param_validator_test.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_windows_upgrade/upgrader/validators.go
  cli_tools/gce_windows_upgrade/upgrader/validators_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add target pool resource
  daisy/compute/compute.go
  daisy/compute/test_client.go
  daisy/resource.go
  daisy/step.go
  daisy/step_create_target_pool.go
  daisy/step_create_target_pool_test.go
  daisy/target_pool.go
  daisy/workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix go check
  daisy/compute/compute.go
  daisy/compute/test_client.go
  daisy/step_create_target_pool.go
  daisy/workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

add global healthcheck support
  daisy/compute/compute.go
  daisy/compute/test_client.go
  daisy/health_check.go
  daisy/resource.go
  daisy/step.go
  daisy/step_create_health_check.go
  daisy/step_create_health_check_test.go
  daisy/workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Daisy: Recursively build child workflows in NewFromFile
  daisy/step_includeworkflow.go
  daisy/step_includeworkflow_test.go
  daisy/step_sub_workflow.go
  daisy/step_sub_workflow_test.go
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child1.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child2.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.parent.wf.json
  daisy/test_data/TestNewIncludedWorkflowFromFile_UsesResourcesFromParent.wf.json
  daisy/test_data/test.wf.json
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Zoran's feedback
  daisy/common.go
  daisy/step_includeworkflow.go
  daisy/step_sub_workflow.go
  daisy/validate.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

address comments
  daisy/step_create_target_pool.go
  daisy/target_pool.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

tzz's feedback
  daisy/step_includeworkflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Import: Emit useful message when network doesn't exist
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/param/network_resolver_test.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/paramhelper/network.go
  cli_tools/common/utils/paramhelper/network_test.go
  cli_tools/common/utils/paramhelper/resources.go
  cli_tools/common/utils/paramhelper/resources_test.go
  cli_tools/common/utils/paramhelper/subnet.go
  cli_tools/common/utils/paramhelper/subnet_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/param_populator.go
  cli_tools/gce_ovf_export/exporter/param_populator_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/mocks/mock_network_resolver.go
  cli_tools/mocks/mock_param_populator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/param/network_resolver.go
  cli_tools/common/utils/param/network_resolver_test.go
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/paramhelper/network.go
  cli_tools/common/utils/paramhelper/subnet.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/param/network_resolver_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/param/network_resolver.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/param/populator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

tzz's feedback
  cli_tools/common/utils/param/network_resolver.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy: Recursively build child workflows in NewFromFile (#1693)
  daisy/common.go
  daisy/step_includeworkflow.go
  daisy/step_includeworkflow_test.go
  daisy/step_sub_workflow.go
  daisy/step_sub_workflow_test.go
  daisy/test_data/TestNewFromFile_PopulatesVariables.child.wf.json
  daisy/test_data/TestNewFromFile_PopulatesVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child1.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child2.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.parent.wf.json
  daisy/test_data/TestNewIncludedWorkflowFromFile_UsesResourcesFromParent.wf.json
  daisy/test_data/test.wf.json
  daisy/validate.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Revert "Daisy: Recursively build child workflows in NewFromFile (#1693)"
  daisy/common.go
  daisy/step_includeworkflow.go
  daisy/step_includeworkflow_test.go
  daisy/step_sub_workflow.go
  daisy/step_sub_workflow_test.go
  daisy/test_data/TestNewFromFile_PopulatesVariables.child.wf.json
  daisy/test_data/TestNewFromFile_PopulatesVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child1.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child2.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.parent.wf.json
  daisy/test_data/TestNewIncludedWorkflowFromFile_UsesResourcesFromParent.wf.json
  daisy/test_data/test.wf.json
  daisy/validate.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Revert "Daisy: Recursively build child workflows in NewFromFile (#1693)" (#1700)
  daisy/common.go
  daisy/step_includeworkflow.go
  daisy/step_includeworkflow_test.go
  daisy/step_sub_workflow.go
  daisy/step_sub_workflow_test.go
  daisy/test_data/TestNewFromFile_PopulatesVariables.child.wf.json
  daisy/test_data/TestNewFromFile_PopulatesVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child1.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child2.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.parent.wf.json
  daisy/test_data/TestNewIncludedWorkflowFromFile_UsesResourcesFromParent.wf.json
  daisy/test_data/test.wf.json
  daisy/validate.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Allow variables in child filenames
  daisy/common.go
  daisy/common_test.go
  daisy/test_data/TestNewFromFile_PopulatesVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.parent.wf.json
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Daisy: Recursively build child workflows in NewFromFile when path doesn't have variable. (#1701)
  daisy/common.go
  daisy/common_test.go
  daisy/step_includeworkflow.go
  daisy/step_includeworkflow_test.go
  daisy/step_sub_workflow.go
  daisy/step_sub_workflow_test.go
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child1.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.child2.wf.json
  daisy/test_data/TestNewFromFile_ReadsChildWorkflows.parent.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.parent.wf.json
  daisy/test_data/TestNewIncludedWorkflowFromFile_UsesResourcesFromParent.wf.json
  daisy/test_data/test.wf.json
  daisy/validate.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

[export] fix buffered writer err log prefix so it can be picked up by waitFOrSignals
  cli_tools/common/utils/storage/buffered_writer.go
  cli_tools/common/utils/storage/buffered_writer_test.go
  cli_tools/gce_export/main.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy: Don't clobber child variables from parent workflow
  daisy/common.go
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.parent.wf.json
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Daisy: Don't clobber child variables from parent workflow (#1704)
  daisy/common.go
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables.parent.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.child.wf.json
  daisy/test_data/TestNewFromFile_SupportsNestedVariables_VarInFilename.parent.wf.json
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy
