Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

[windows upgrade] be compatible with powershell <=v2 (#1382)
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

logging2
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

Deploy exporter wrapper image to all artifact registry regions (#1385)
  cli_tools_cloudbuild.yaml
Due: none

improve docs on config
  common/runtime/config.go
Due: none

make some variable required to false
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: prow/presubmit/flake8

Building OVF import wrapper and windows upgrader into all repos. Switched to kaniko executor:v1.1.0 which is the official latest version
  cli_tools_cloudbuild.yaml
Due: none

remove project level variables
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: none

fix gocheck
  common/gcp/image.go
  common/gcp/instance.go
  common/gcp/storage.go
Due: none

use warning instead exception when cmd failed
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Building OVF import wrapper and windows upgrader into all repos. Switched to kaniko executor:v1.1.0 which is the official latest version (#1387)
  cli_tools_cloudbuild.yaml
Due: none

rename fields name
  cli_tools/common/disk/inspect.go
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

exclude hybrid
  cli_tools/common/disk/inspect.go
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

config
  gce_image_import_export_tests.Dockerfile
Due: none

format py
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

format
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

metrics
  cli_tools/common/disk/inspect.go
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

renaming
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

improve
  cli_tools/common/disk/inspect.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

move py code
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  gce_image_import_export_tests.Dockerfile
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

rename
  cli_tools/common/disk/inspect.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

project id
  gce_image_import_export_tests.Dockerfile
Due: none

py format
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

export-metadata v2 design (#1371)
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: prow/presubmit/flake8

Zoran's feedback
  daisy_workflows/image_import/suse/run-translate.sh
  daisy_workflows/image_import/suse/suse_import/README.md
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/etc/hosts
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/etc/resolv.conf
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Give tip when on-demand conversion fails
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

SLES import: Support conversion to on-demand
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/inspection/tests/__init__.py
  daisy_workflows/image_import/suse/run-translate.sh
  daisy_workflows/image_import/suse/suse_import/README.md
  daisy_workflows/image_import/suse/suse_import/__init__.py
  daisy_workflows/image_import/suse/suse_import/on_demand/__init__.py
  daisy_workflows/image_import/suse/suse_import/on_demand/migrate.py
  daisy_workflows/image_import/suse/suse_import/on_demand/run_in_chroot.sh
  daisy_workflows/image_import/suse/suse_import/on_demand/validate_chroot.py
  daisy_workflows/image_import/suse/suse_import/pyproject.toml
  daisy_workflows/image_import/suse/suse_import/setup.py
  daisy_workflows/image_import/suse/suse_import/tests/__init__.py
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/etc/hosts
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/etc/resolv.conf
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/cloud_product.txt
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/post_convert_packages.txt
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/pre_convert_py/dep.py
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/pre_convert_rpm/dep.rpm
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/run_in_chroot.sh
  daisy_workflows/image_import/suse/suse_import/tests/test_validate_chroot.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_sles_12.wf.json
  daisy_workflows/image_import/suse/translate_sles_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_15.wf.json
  daisy_workflows/image_import/suse/translate_sles_15_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_12.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

SLES import: Support conversion to on-demand (#1368)
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/inspection/tests/__init__.py
  daisy_workflows/image_import/suse/run-translate.sh
  daisy_workflows/image_import/suse/suse_import/README.md
  daisy_workflows/image_import/suse/suse_import/__init__.py
  daisy_workflows/image_import/suse/suse_import/on_demand/__init__.py
  daisy_workflows/image_import/suse/suse_import/on_demand/migrate.py
  daisy_workflows/image_import/suse/suse_import/on_demand/run_in_chroot.sh
  daisy_workflows/image_import/suse/suse_import/on_demand/validate_chroot.py
  daisy_workflows/image_import/suse/suse_import/pyproject.toml
  daisy_workflows/image_import/suse/suse_import/setup.py
  daisy_workflows/image_import/suse/suse_import/tests/__init__.py
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/etc/hosts
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/etc/resolv.conf
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/cloud_product.txt
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/post_convert_packages.txt
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/pre_convert_py/dep.py
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/pre_convert_rpm/dep.rpm
  daisy_workflows/image_import/suse/suse_import/tests/test-data/validate_chroot/runtime/run_in_chroot.sh
  daisy_workflows/image_import/suse/suse_import/tests/test_validate_chroot.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_sles_12.wf.json
  daisy_workflows/image_import/suse/translate_sles_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_15.wf.json
  daisy_workflows/image_import/suse/translate_sles_15_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_12.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_12_byol.wf.json
  daisy_workflows/image_import/suse/translate_sles_sap_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rebase to upstream/master
  cli_tools/common/disk/inspect.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

update error message in populator test
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

switch storage client to simple delete.
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: When scratch is shared, don't recursively delete file
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/mocks/mock_storage_client.go
  cli_tools_tests/module/import/scratch_ownership_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

only cleanup when client is gcloud.
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools_tests/module/import/scratch_ownership_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Rename bool guard for file removal
  cli_tools/common/utils/param/param_utils.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: When scratch is shared, ensure file deletion isn't recursive (#1388)
  cli_tools/common/domain/interfaces.go
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator.go
  cli_tools/common/utils/param/populator_test.go
  cli_tools/common/utils/storage/storage_client.go
  cli_tools/common/utils/storage/storage_client_test.go
  cli_tools/gce_onestep_image_import/onestep_importer/aws_args.go
  cli_tools/gce_onestep_image_import/onestep_importer/test_utils_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/main.go
  cli_tools/mocks/mock_storage_client.go
  cli_tools_tests/module/import/scratch_ownership_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

move py module
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test_model.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disk inflation: Surface quota errors
  daisy_workflows/image_import/import_image.sh
Due: none

Disk inflation: Surface quota errors (#1390)
  daisy_workflows/image_import/import_image.sh
Due: none
