Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Rocky Linux 8 (RC) build.
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky-linux-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8.wf.json
Due: prow/presubmit/flake8

Updating daisy dependencies and fixing tests
  daisy/compute/compute_test.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/step_copy_gcs_objects_test.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating GCS list object regex to match the updated URL
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Reverting test back to original values as the breakage was due to a regex mismatch.
  daisy/step_copy_gcs_objects_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating daisy dependencies and fixing tests (#1622)
  daisy/compute/compute_test.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/step_copy_gcs_objects_test.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating CLI Tools dependencies
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update createMockStorageClient to only test expectation if file should be read
  cli_tools/common/image/importer/source_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating formatting of source_test.go
  cli_tools/common/image/importer/source_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating CLI Tools dependencies (#1623)
  cli_tools/common/image/importer/source_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating cli_tools_tests dependencies
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Updating cli_tools_tests dependencies (#1624)
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Rocky Linux 8 (RC) build. (#1621)
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/rocky-linux-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/rocky_linux_8.wf.json
Due: prow/presubmit/flake8

Adding "server sent GOAWAY" as a response that should be retried.
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Update compute.go
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Adding "server sent GOAWAY" as a response that should be retried. (#1625)
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Changing wait operation retries to 40
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add detection and removal of read-only attribute from windows host file
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Updating Add-Content to use -Force
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Support -source_disk_snapshot flag on gce_vm_image_export cli tool
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add the ability to write to a read-only windows host file (#1629)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Updating imports and mocks
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools/mocks/mock_resource_location_retriever.go
  daisy/go.mod
  daisy/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Removing duplicate "server sent GOAWAY" retry logic
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Rolling forward the Alpha API changes (#1619)
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools/mocks/mock_resource_location_retriever.go
  cli_tools_tests/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Support -source_disk_snapshot flag on gce_vm_image_export cli tool (#1627)
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Rolling forward the Alpha API changes (#1619)"
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools/mocks/mock_resource_location_retriever.go
  cli_tools_tests/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Rolling forward the Alpha API changes (#1619)" (#1630)
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_compute_client.go
  cli_tools/mocks/mock_resource_location_retriever.go
  cli_tools_tests/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Updating cli_tools_tests dependencies (#1624)"
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Revert "Updating CLI Tools dependencies (#1623)"
  cli_tools/common/image/importer/source_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Updating daisy dependencies and fixing tests (#1622)"
  daisy/compute/compute_test.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/step_copy_gcs_objects_test.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Revert "Updating daisy dependencies and fixing tests (#1622)" (#1633)
  daisy/compute/compute_test.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/step_copy_gcs_objects_test.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/test_common_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Revert "Updating CLI Tools dependencies (#1623)" (#1632)
  cli_tools/common/image/importer/source_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/mocks/mock_storage_client.go
  cli_tools/mocks/mock_storage_object.go
  cli_tools/mocks/mock_storage_object_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Updating cli_tools_tests dependencies (#1624)" (#1631)
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

add install package wf
  daisy_workflows/image_build/install_package/install_package.wf.json
  daisy_workflows/image_build/install_package/installpackage.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Ensure Linux test images have locked passwords
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_ubuntu_3_disks.sh
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

fix image name in instructions
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_ubuntu_3_disks.sh
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

pr feedback
  daisy_workflows/image_build/install_package/install_package.wf.json
  daisy_workflows/image_build/install_package/installpackage.py
Due: prow/presubmit/flake8

add install package wf (#1634)
  daisy_workflows/image_build/install_package/install_package.wf.json
  daisy_workflows/image_build/install_package/installpackage.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Ensure Linux test images have locked passwords (#1635)
  cli_tools_tests/e2e/gce_ovf_import/scripts/ovf_import_test_ubuntu_3_disks.sh
  daisy_integration_tests/scripts/post_translate_test.sh
Due: none

Image import: Add support for SLES 15.0
  daisy_workflows/image_import/suse/suse_import/translate.py
Due: prow/presubmit/flake8

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
