Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Zoran's feedback
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/processor.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't rely on workflow in windows upgrade
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Allow workflows to be re-run (#1777)
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/image/importer/processor.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/instance_export_cleaner.go
  cli_tools/gce_ovf_export/exporter/instance_export_preparer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
  cli_tools/gce_windows_upgrade/upgrader/workflows_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[vmdk api migration] use qemu checksum to determine retry logic
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/importer_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/imagefile/inspector.go
  cli_tools/common/imagefile/qemu_img.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

adjust timeout
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/imagefile/inspector.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/imagefile/qemu_img.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

more
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/imagefile/qemu_img.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

test
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/data_disk_processor_test.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Only get Subnetworks within the desired region.
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Use ListUsable instead of List for Subnetworks
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Only use ListUsableSubnets as a fallback.
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

match checksum logic
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/imagefile/qemu_img_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Eric's comment
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Adding SQL Server image publish workflows
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.publish
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.publish
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc-uefi.publish
Due: none

Adding SQL Server image publish workflows (#1783)
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.publish
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.publish
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc-uefi.publish
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc-uefi.publish
Due: none

CLI Tools: Refresh module tests
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/logs_test.go
  cli_tools_tests/module/import/vpc_test.go
Due: none

use file instead of image
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

CLI Tools: Refresh module tests (#1781)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/logs_test.go
  cli_tools_tests/module/import/vpc_test.go
Due: none

Daisy: Remove disk.FallbackToPdStandard
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd_test.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  daisy/disk.go
  daisy/step_create_disks.go
  daisy/step_create_disks_test.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/freebsd/translate_freebsd.wf.json
  daisy_workflows/image_import/import_from_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inflate_image.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  daisy_workflows/image_import/windows/translate_windows_wf.json
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Tony's feedback
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

more description
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/imagefile/qemu_img.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

golint
  cli_tools/common/imagefile/qemu_img.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix tmp changed
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

create sql-server-export workflow
  daisy_workflows/build-publish/sqlserver/sql-server-export.wf.json
Due: none

Add sqlserver build workflow definitions
  daisy_workflows/build-publish/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/build-publish/sqlserver/sql-2019-web-windows-2019-dc.wf.json
Due: none

add fallback reason; change fallback logic
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  proto/go/pb/output_info.pb.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

group the API infalter properties
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd_test.go
  daisy/disk.go
  daisy/step_create_disks.go
  daisy/step_create_disks_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

update the proto
  proto/go/pb/output_info.pb.go
  proto/output_info.proto
Due: none

output info updated
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/logging/service/outputinfo_loggable.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's comments
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Import e2e tests: Look for image in project where import occurred
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Import e2e tests: Look for image in project where import occurred (#1786)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

fix field name
  proto/go/pb/output_info.pb.go
  proto/output_info.proto
Due: none

mock qemu-img
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

support image project vs build project
  rollout/cli_tools_cloudbuild_build.yaml
  rollout/cli_tools_cloudbuild_deploy.yaml
Due: none

format
  cli_tools/common/imagefile/qemu_img.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Implement fallback to PD standard (#1784)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd.go
  cli_tools/common/utils/daisyutils/workflow_hook_fallback_pd_test.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  daisy_workflows/export/disk_export.wf.json
  daisy_workflows/export/disk_export_ext.wf.json
  daisy_workflows/export/image_export.wf.json
  daisy_workflows/export/image_export_ext.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_7.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_6_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_7_licensed.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/freebsd/translate_freebsd.wf.json
  daisy_workflows/image_import/import_from_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/image_import/inflate_image.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  daisy_workflows/image_import/windows/translate_windows_wf.json
  daisy_workflows/image_import/windows/translate_windows_x86_wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[safely adopt VMDK API] stage 1 (#1782)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/data_disk_processor_test.go
  cli_tools/common/image/importer/importer.go
  cli_tools/common/image/importer/importer_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/imagefile/inspector.go
  cli_tools/common/imagefile/qemu_img.go
  cli_tools/common/imagefile/qemu_img_test.go
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/logging/service/outputinfo_loggable.go
  cli_tools/go.mod
  cli_tools/go.sum
  proto/go/pb/output_info.pb.go
  proto/output_info.proto
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools
