Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Adding Alpha API support in Daisy for CreateImage/GetImage/DeprecateImage (#1585)
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_copy_gcs_objects_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Add nmap to packages for Debian dev build.
  daisy_workflows/build-publish/linux_dev/debian_dev.sh
Due: none

Updating the versions of imported libraries for cli_tools and cli_tools_test
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Updating the versions of imported libraries for cli_tools and cli_tools_test (#1606)
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update go.sum to fix gce_ovf_import_test_runner build
  cli_tools_tests/go.sum
Due: none

Update go.sum to fix gce_ovf_import_test_runner build (#1607)
  cli_tools_tests/go.sum
Due: none

Updated imageUsesAlphaFeatures and added tests
  daisy/step_create_images.go
  daisy/step_create_images_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

cleanerupper: add OSPolicyAssignments and staging osconfig resources
  test-infra/prow/config.yaml
  test-infra/prowjobs/cleanerupper/go.mod
  test-infra/prowjobs/cleanerupper/go.sum
  test-infra/prowjobs/cleanerupper/main.go
Due: none

add stderr in log (#1604)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Consolidated if statement and updated test coverage.
  daisy/step_create_images.go
  daisy/step_create_images_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updating formatting.
  daisy/step_create_images.go
  daisy/step_create_images_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Updated imageUsesAlphaFeatures and added tests (#1608)
  daisy/step_create_images.go
  daisy/step_create_images_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

not log process stderr, log e.stderr
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

not log process stderr, log e.stderr (#1610)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Rolling back Alpha API changes due to Daisy test failures
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_copy_gcs_objects_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Rolling back Alpha API changes due to Daisy test failures (#1611)
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_copy_gcs_objects_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix export failure
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

error handling in metadata exporter
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

flake8
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

error handling in metadata exporter (#1612)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

publish empty metadata
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: prow/presubmit/flake8

Fix RHEL byos build.
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

publish empty metadata (#1614)
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: prow/presubmit/flake8

Disabling CentOS image import tests
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

Disabling CentOS image import tests (#1616)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

Replace 'google.com' with 'google_com' in bucket names.
  cli_tools/common/utils/storage/scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Split to 2 lines.
  cli_tools/common/utils/storage/scratch_bucket_creator.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update scratch_bucket_creator_test.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Replace 'google.com' with 'elgoog.com' in bucket names to avoid GCS naming restriction. (#1617)
  cli_tools/common/utils/storage/scratch_bucket_creator.go
  cli_tools/common/utils/storage/scratch_bucket_creator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Disabling CentOS image import tests (#1616)"
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

Rolling forward the Alpha API changes and adding retry to
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  daisy/compute/compute.go
  daisy/compute/compute_test.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/go.mod
  daisy/go.sum
  daisy/image.go
  daisy/image_test.go
  daisy/step_copy_gcs_objects_test.go
  daisy/step_create_images.go
  daisy/step_create_images_test.go
  daisy/step_deprecate_images.go
  daisy/step_wait_for_instances_signal_test.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Revert "Disabling CentOS image import tests (#1616)" (#1618)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/daisy_e2e.test.gotmpl
Due: none

Fix RHEL byos build. (#1615)
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Add nmap to packages for Debian dev build. (#1605)
  daisy_workflows/build-publish/linux_dev/debian_dev.sh
Due: none

Enable VMDK shadow tests
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Enable VMDK shadow tests (#1620)
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools
