Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

fix destintaion path for metadata
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

Export metadata windows bug fix (#1554)
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

Windows: Wait 5 seconds before dismounting registry files
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: none

Windows: Wait 5 seconds before dismounting registry files (#1555)
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: none

Move image build workflows to e2 machine types.
  daisy_workflows/build-publish/linux_dev/development.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_worker.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1709-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1803-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1809-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1809-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1903-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1903-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1909-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1909-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-for-containers.wf.json
Due: none

OVF Import: introduced instance service account (applied on imported VMs/GMIs), separate from compute service account used for worker instances.
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/e2e/variables.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Import: introduced instance service account (applied on imported VMs/GMIs), separate from compute service account used for worker instances. (#1559)
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/e2e/variables.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Adding server core and SAC builds
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-1909-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-2004-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

Adding server core and SAC builds (#1560)
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-1909-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-2004-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

increase default time out
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: none

add log
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Updating timeout to 100min for SQL 2017
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2019-dc.wf.json
Due: none

Updating timeout to 100min for SQL 2017 (#1564)
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2019-dc.wf.json
Due: none

error instead of warn, upload json to outs path
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Updating SQL build workflows timeouts
  daisy_workflows/image_build/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
Due: none

flake8 fix
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

error instead of warn, upload json to outs path (#1565)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Updates (#1551)
  cli_tools/gce_export/README.md
  cli_tools/gce_vm_image_export/README.md
  docs/daisy-workflow-config-spec.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

update image version
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: prow/presubmit/flake8

add epoch to rpm metadata export
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Updating windows-update function in sql_installer.ps1
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

also prune el6 support
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Rpm add epoch (#1566)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Adding timeout variable to sqlserver.wf.json and all workflows that call it.
  daisy_workflows/image_build/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
Due: none

update image version (#1567)
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata.wf.json
Due: prow/presubmit/flake8

Updating SQL Build timeouts and Windows Update function (#1568)
  daisy_workflows/image_build/sqlserver/sql-2012-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2012-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2012-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2014-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2016-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2012-r2-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-express-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2016-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2017-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-enterprise-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-standard-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql-2019-web-windows-2019-dc.wf.json
  daisy_workflows/image_build/sqlserver/sql_install.ps1
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
Due: none

Move image build workflows to e2 machine types. (#1558)
  daisy_workflows/build-publish/linux_dev/development.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_10_worker.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_build/sqlserver/sqlserver.wf.json
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1709-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1803-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1809-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1809-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1903-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1903-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1909-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-1909-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-core-for-containers.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-for-containers-uefi.wf.json
  daisy_workflows/image_build/windows_for_containers/windows-2019-for-containers.wf.json
Due: none

Adding Get-ResultCodeDescription to sql_install.ps1
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

Adding Get-ResultCodeDescription to sql_install.ps1 (#1570)
  daisy_workflows/image_build/sqlserver/sql_install.ps1
Due: none

add working second function
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

second pass at refactor
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

include testing files
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/centos-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/centos-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/centos-stream-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el7-packages.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el8-packages.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-byos-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-minor-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-post.cfg
Due: none

tony's feedback
  daisy/workflow.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Daisy: Don't panic when workflow is canceled twice
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_image_publish/main.go
  daisy/cli/main.go
  daisy/daisy_test_runner/main.go
  daisy/step_create_instances.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Feedback from Zoran and Tony
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

final renames
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-4-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-1-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-2-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-minor-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/centos-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/centos-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/centos-stream-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/cleanup.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el7-packages.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el8-packages.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/myfiles3/kickstart/rhel-byos-post.cfg
Due: prow/presubmit/flake8

osconfig tests: add Ubuntu to head tests
  test-infra/prow/config.yaml
Due: none
