Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

validate guest environment packages are installed (#1746)
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
Due: none

cleanerupper: update flag defaults and fix some issues with OSPolicyAssignments (#1764)
  test-infra/prow/config.yaml
  test-infra/prowjobs/cleanerupper/main.go
Due: none

zoran's feedback
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/utils/apt.py
Due: prow/presubmit/flake8

Ubuntu import: When possible, don't install cloud-init 21.3-1 (#1763)
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/tests/test_apt.py
  daisy_workflows/linux_common/utils/apt.py
Due: prow/presubmit/flake8

Image export: Use daisy worker (#1760)
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Windows upgrade: Use daisy worker (#1759)
  cli_tools/common/mount/inspector_test.go
  cli_tools/gce_windows_upgrade/upgrader/test_common_test.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Export: Use Daisy worker (#1757)
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
  cli_tools/gce_ovf_export/domain/test_data.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/instance_export_cleaner.go
  cli_tools/gce_ovf_export/exporter/instance_export_preparer.go
  cli_tools/gce_ovf_export/exporter/steps.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

don't depend on workflow for logging
  cli_tools/common/utils/logging/service/daisy_loggable.go
  cli_tools/common/utils/logging/service/daisy_loggable_test.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Support RHEL 7.9 for SAP with its special configuration.
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Support RHEL 7.9 for SAP with its special configuration. (#1766)
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_9_sap.wf.json
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Fix RHEL build.
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Fix RHEL 7.9 for SAP build (#1767)
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

CLI tools: Don't log metrics using the workflow directly (#1765)
  cli_tools/common/utils/logging/service/daisy_loggable.go
  cli_tools/common/utils/logging/service/daisy_loggable_test.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/main.go
  cli_tools/gce_windows_upgrade/main.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader.go
  cli_tools/gce_windows_upgrade/upgrader/upgrader_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix RHEL SAP post setup.
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Fix RHEL SAP post setup. (#1769)
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Zoran's feedback
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/workflow_hook.go
  cli_tools/common/utils/daisyutils/workflow_hook_logging.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/mocks/mock_workflow_hook.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

init
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
  cli_tools/common/utils/daisyutils/resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook.go
  cli_tools/common/utils/daisyutils/workflow_hook_logging.go
  cli_tools/common/utils/daisyutils/workflow_hook_logging_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars_test.go
  cli_tools/common/utils/daisyutils/workflow_modifier.go
  cli_tools/mocks/mock_workflow_hook.go
  cli_tools/mocks/mock_workflow_modifier.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools Refactor: Allow daisy worker modifiers to run after workflow (#1768)
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
  cli_tools/common/utils/daisyutils/workflow_hook.go
  cli_tools/common/utils/daisyutils/workflow_hook_logging.go
  cli_tools/common/utils/daisyutils/workflow_hook_logging_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_hook_no_external_ip_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_hook_resource_labeler_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_properties_test.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars_test.go
  cli_tools/mocks/mock_workflow_hook.go
  cli_tools/mocks/mock_workflow_modifier.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Explain how to run e2e tests.
  cli_tools_tests/e2e/README.md
  cli_tools_tests/e2e/utils.go
  gce_image_import_export_tests.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
Due: none

Stop creation of cloud logging client when logging is disabled.
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Changed workflow test to use regex to match potential quotes.
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Update cli_tools_tests/e2e/README.md
  cli_tools_tests/e2e/README.md
Due: none

Changed workflow test to use regex to match potential quotes. (#1775)
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

zoran's feedback
  cli_tools_tests/e2e/README.md
Due: none

Stop creation of cloud logging client when logging is disabled. (#1774)
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Added script to run e2e tests
  cli_tools_tests/e2e/README.md
  run_e2e.sh
Due: none

Yauheni's feedback
  run_e2e.sh
Due: none

CLI Tools: Ensure that e2e tests can be run locally. (#1772)
  cli_tools_tests/e2e/README.md
  cli_tools_tests/e2e/utils.go
  gce_image_import_export_tests.Dockerfile
  gce_ovf_export_tests.Dockerfile
  gce_ovf_import_tests.Dockerfile
  gce_windows_upgrade_tests.Dockerfile
  run_e2e.sh
Due: none

OVF Import: Use daisy worker
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Import: Use daisy worker (#1776)
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/domain/ovf_import_params_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Ensure network is cleared when only subnet is specified
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy: Eagerly record serial logs.
  cli_tools/mocks/mock_daisy_logger.go
  common/logging/logging.go
  daisy/daisy_test_runner/main.go
  daisy/logger.go
  daisy/logger_test.go
  daisy/step_create_instances.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

gofmt
  daisy/logger.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

CLI Tools: Document mocks
  cli_tools/mocks/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

CLI Tools: Ensure network is cleared when only subnet is specified (#1778)
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars.go
  cli_tools/common/utils/daisyutils/workflow_hook_workflow_vars_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Document mocks (#1780)
  cli_tools/mocks/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Daisy: Eagerly record serial logs. (#1779)
  cli_tools/mocks/mock_daisy_logger.go
  common/logging/logging.go
  daisy/daisy_test_runner/main.go
  daisy/logger.go
  daisy/logger_test.go
  daisy/step_create_instances.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

CLI Tools: Allow workflows to be re-run
  cli_tools/common/disk/inspect.go
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/daisy_worker_testing.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/instance_export_cleaner.go
  cli_tools/gce_ovf_export/exporter/instance_export_preparer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_windows_upgrade/upgrader/workflows.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
