Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

CLI logging: Trap panics in application code (#1506)
  cli_tools/common/utils/logging/service/logger.go
  cli_tools/common/utils/logging/service/logger_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Clarify that instance is deleted for GMI
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

new packages
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/import_precheck/check_sha2.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

new packages (#1513)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools/import_precheck/check_sha2.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Machine image import: Use import module for alpha and beta (#1512)
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  daisy_workflows/ovf_import/create_gmi.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

use API infalter as main inflater
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

format
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools_tests/module/import/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

GMI import worker: Use alphabetic prefix on data disks
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

GMI import worker: Use alphabetic prefix on data disks (#1515)
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Looping while install disk initialises
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Update upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

build onstep importer
  cli_tools_cloudbuild.yaml
Due: none

Precheck tool: Use common OS list
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/import_precheck/check_osversion.go
  cli_tools/import_precheck/check_osversion_test.go
  cli_tools/import_precheck/check_sha2.go
  cli_tools/import_precheck/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

build onstep importer (#1517)
  cli_tools_cloudbuild.yaml
Due: none

Build OVF exporter (gce_ovf_export) Docker image
  cli_tools_cloudbuild.yaml
  gce_ovf_export.Dockerfile
Due: none

refine details
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

removed extra dash
  cli_tools_cloudbuild.yaml
Due: none

Zoran's feedback
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/import_precheck/check_osversion.go
  cli_tools/import_precheck/check_osversion_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Retry GetSerialPortOutput if fails on rate quota
  daisy/compute/compute.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Build OVF exporter (gce_ovf_export) Docker image (#1519)
  cli_tools_cloudbuild.yaml
  gce_ovf_export.Dockerfile
Due: none

Add SerialPortToLog parameter to InstanceBase (#1448)
  daisy/compute/compute.go
  daisy/instance.go
  daisy/instance_test.go
  daisy/step_create_instances.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

add bare-metal-dev wf and script
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
Due: none

comment
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
Due: none

Image import: Always capture guestfs stdout
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/freebsd/translate_freebsd.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  daisy_workflows/linux_common/tests/test_guestfsprocess.py
  daisy_workflows/linux_common/utils/common.py
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

add bare-metal-dev wf and script (#1520)
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
Due: none

include all linux_common in workflows
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
  daisy_workflows/image_import/freebsd/translate_freebsd.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
Due: none

use run(g during import
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/linux_common/tests/test_guestfsprocess.py
  daisy_workflows/linux_common/utils/common.py
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

Precheck tool: Use common OS list (#1518)
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/import_precheck/check_osversion.go
  cli_tools/import_precheck/check_osversion_test.go
  cli_tools/import_precheck/check_sha2.go
  cli_tools/import_precheck/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rename check to raiseOnError
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/linux_common/tests/test_guestfsprocess.py
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

Disable systemd sshkeygen service on EL7. (#1503)
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-options.cfg
Due: none

document in run when raiseOnError is useful
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

rename onestep import log prefix
  cli_tools/gce_onestep_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add bare-metal dev publish wf
  daisy_workflows/build-publish/bare_metal/rhel_7.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8.publish.json
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.publish.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.publish.json
Due: none

Image import: Increase debug support when translation fails (#1521)
  daisy_workflows/export_metadata/export_metadata.wf.json
  daisy_workflows/image_build/debian/debian.wf.json
  daisy_workflows/image_build/debian/debian_fai.wf.json
  daisy_workflows/image_build/enterprise_linux/enterprise_linux.wf.json
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
  daisy_workflows/image_import/freebsd/translate_freebsd.wf.json
  daisy_workflows/image_import/ubuntu/translate.py
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  daisy_workflows/linux_common/tests/test_guestfsprocess.py
  daisy_workflows/linux_common/utils/common.py
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

rename onestep import log prefix (#1522)
  cli_tools/gce_onestep_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Enable onestep-import gcloud e2e
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

limit on beta
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

Ubuntu 18.04+ import: Add /snap/bin to path
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

add bare-metal dev publish wf (#1523)
  daisy_workflows/build-publish/bare_metal/rhel_7.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8.publish.json
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.publish.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.publish.json
Due: none
