Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

osconfig tests: add Ubuntu to head tests (#1572)
  test-infra/prow/config.yaml
Due: none

Image import: Disable calling PD API (#1563)
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Refactor el (#1571)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-4-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-6-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-1-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-2-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-minor-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

OVF Import: switched disks to SSD (from standard) as that was the behavior before the big OVF import refactor.
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: e2e tests to check for disk type
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: none

Daisy: Don't panic when workflow is canceled twice (#1561)
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_image_publish/main.go
  daisy/cli/main.go
  daisy/daisy_test_runner/main.go
  daisy/step_create_instances.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Import: switched disks to SSD (from standard) (#1573)
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater.go
  cli_tools/gce_ovf_import/daisy_utils/data_disk_workflow_updater_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: support for no service account and no access scopes. Refactored, improved and extended E2E tests.
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  common/gcp/instance.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

updated public doc for DefaultInstanceAccessScopes
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: support for no service account and no access scopes. Refa… (#1574)
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  common/gcp/instance.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

I assume here we don't need the duplicated dependency
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Make imagesCache usage optional.
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Make imagesCache usage optional. (#1578)
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add SEV_CAPABLE flag to EL8 images.
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/centos_8.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
Due: none

Increase build timeout to 4h
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-1909-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-2004-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

Increase build timeout to 4h (#1580)
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-1909-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-2004-dc-core-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-sac-20h2-dc-core-uefi-payg.wf.json
Due: none

Fix Windows 10 x86 workflow
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
Due: none

Add googet sources
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
Due: none

import_precheck: Improve disk checks with multiple devices
  cli_tools/import_precheck/check_disks_linux.go
  cli_tools/import_precheck/check_disks_linux_test.go
  cli_tools/import_precheck/testdata/lsblk-efi.json
  cli_tools/import_precheck/testdata/lsblk-multi-disk-lvm.json
  cli_tools/import_precheck/testdata/lsblk-one-partition.json
  cli_tools/import_precheck/testdata/lsblk-single-disk-lvm.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

lint
  cli_tools/import_precheck/check_disks_linux.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Added compute-image-test-pool-001-1 and compute-image-test-pool-001-2 projects to cleanerupper config after noticing stale disks from the past 3 months in these two projects.
  test-infra/prow/config.yaml
Due: none

Added compute-image-test-pool-001-1 and compute-image-test-pool-001-2 projects to cleanerupper config after noticing stale disks from the past 3 months in these two projects. (#1582)
  test-infra/prow/config.yaml
Due: none

zoran's feedback
  cli_tools/import_precheck/check_disks_linux.go
  cli_tools/import_precheck/check_disks_linux_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

import_precheck: Fail when root device spans multiple physical disks (#1581)
  cli_tools/import_precheck/check_disks_linux.go
  cli_tools/import_precheck/check_disks_linux_test.go
  cli_tools/import_precheck/testdata/lsblk-efi.json
  cli_tools/import_precheck/testdata/lsblk-multi-disk-lvm.json
  cli_tools/import_precheck/testdata/lsblk-one-partition.json
  cli_tools/import_precheck/testdata/lsblk-single-disk-lvm.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update CentOS 8 import tests: 8.2 to 8.3
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Update CentOS 8 import tests: 8.2 to 8.3 (#1584)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Adding Alpha API support for CreateImage/GetImage/DeprecateImage
  daisy/compute/compute.go
  daisy/compute/compute_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Image import: Support for Debian 10
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/debian_10_translate.wf.json
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/debian/translate_debian_10.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disable EL repo_gpgcheck for Google Cloud repositories.
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Add arping to packages for Debian dev build.
  daisy_workflows/build-publish/linux_dev/debian_dev.sh
Due: none

Add arping to packages for Debian dev build. (#1588)
  daisy_workflows/build-publish/linux_dev/debian_dev.sh
Due: none

Image import: Support for Debian 10 (#1586)
  cli_tools/common/utils/daisy/daisy_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_integration_tests/debian_10_translate.wf.json
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/debian/translate_debian_10.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

AlmaLinux 8 image build.
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

fix
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
Due: none

AlmaLinux 8 image build. (#1569)
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/almalinux_8.wf.json
  daisy_workflows/image_build/enterprise_linux/kickstart/almalinux-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
Due: prow/presubmit/flake8

Include new GPG key in Debian builds.
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
Due: none

versions
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
Due: none

Debian 11 bullseye build.
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_11.wf.json
  daisy_workflows/image_build/debian/build_fai.py
  daisy_workflows/image_build/debian/debian_11_fai.wf.json
Due: prow/presubmit/flake8

sid
  daisy_workflows/image_build/debian/debian_sid_fai.wf.json
Due: none

Disable EL repo_gpgcheck for Google Cloud repositories. (#1587)
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/enterprise_linux/ks_helpers.py
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8
