Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Update translate.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

EL import: Update ca-certificates when translation starts
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

typo, build_date not 'build_date,'
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

typo, build_date not 'build_date,' (#1416)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

Ensure shell output from guest is retained
  daisy_workflows/linux_common/tests/test_guestfsprocess.py
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

Wait if W32Time is in a pending state (#1415)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

remove comma
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

remove comma (#1419)
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

mkdtemp requires a full path
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

Enable-RemoteDesktop move up further
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Ensure shell output from guest is retained (#1418)
  daisy_workflows/linux_common/tests/test_guestfsprocess.py
  daisy_workflows/linux_common/utils/guestfsprocess.py
Due: prow/presubmit/flake8

Removing 2 blank lines
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Enable-RemoteDesktop move up further (#1420)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

EL import: Update ca-certificates when translation starts (#1417)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

distro.Release: Support Windows
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/gce_vm_image_import/importer/errors.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools/common/distro/distro.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

gce_image_publish: add noRoot option
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

gce_image_publish: add noRoot option (#1421)
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

EL import: Tune upgrading of ca-certificates
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
Due: prow/presubmit/flake8

Adding exit after Restart-Computer
  daisy_workflows/image_import/windows/translate.ps1
Due: none

distro.Release: Support Windows (#1414)
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/gce_vm_image_import/importer/errors.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Adding exit after Restart-Computer, to prevent the script from continuing. (#1424)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

EL import: Tune upgrading of ca-certificates (#1423)
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
Due: prow/presubmit/flake8

EL import: Improve yum failure messages
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Inspection refactor: Use protobufs for transport
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/go.mod
  cli_tools_tests/go.mod
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/setup.py
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/architecture.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test_linux.py
  daisy_workflows/image_import/inspection/tests/test_model.py
  daisy_workflows/image_import/inspection/tests/test_windows.py
  gce_image_import_export_tests.Dockerfile
  gce_vm_image_import.Dockerfile
  proto/README
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pb/inspect.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/setup.py
  proto/updatepb.sh
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/mocks/mock_daisy_worker.go
  daisy_workflows/image_import/inspection/README.md
  proto/inspect.proto
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/inspection/README.md
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

EL import: Improve yum failure messages (#1422)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate.py
  daisy_workflows/image_import/inspection/README.md
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Linux translate: Print status once
  daisy_workflows/image_import/debian/translate_debian.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_el.wf.json
  daisy_workflows/image_import/suse/translate_opensuse_15.wf.json
  daisy_workflows/image_import/suse/translate_suse.wf.json
  daisy_workflows/image_import/ubuntu/translate_ubuntu.wf.json
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

log more infor for shadow test err
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

log more infor for shadow test err (#1425)
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Use anonymized errors when populating scratch bucket
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

/anon/anonymized/
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Use anonymized errors in populateScratchBucketGcsPath (#1427)
  cli_tools/common/utils/param/param_utils.go
  cli_tools/common/utils/param/populator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Inspection refactor: Use protobufs for transport (#1410)
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/go.mod
  cli_tools/mocks/mock_daisy_worker.go
  cli_tools_tests/go.mod
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/setup.py
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/architecture.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test_linux.py
  daisy_workflows/image_import/inspection/tests/test_model.py
  daisy_workflows/image_import/inspection/tests/test_windows.py
  gce_image_import_export_tests.Dockerfile
  gce_vm_image_import.Dockerfile
  proto/README
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pb/inspect.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/setup.py
  proto/updatepb.sh
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Inspection refactor: Use protobufs for transport (#1410)"
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/go.mod
  cli_tools/mocks/mock_daisy_worker.go
  cli_tools_tests/go.mod
  daisy_workflows/image_import/inspection/README.md
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/pyproject.toml
  daisy_workflows/image_import/inspection/setup.py
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/architecture.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test_linux.py
  daisy_workflows/image_import/inspection/tests/test_model.py
  daisy_workflows/image_import/inspection/tests/test_windows.py
  gce_image_import_export_tests.Dockerfile
  gce_vm_image_import.Dockerfile
  proto/README
  proto/go/go.mod
  proto/go/go.sum
  proto/go/pb/inspect.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/setup.py
  proto/updatepb.sh
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disk inspection: Allow unsupported distros and empty disks
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disk inspection: Allow unsupported distros and empty disks (#1429)
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Move daisy integration tests to Debian 10 and debian-10-worker.
  daisy_integration_tests/can_retrieve_sources.wf.json
  daisy_integration_tests/create_random_data_image.subwf.json
  daisy_integration_tests/image_export_latest.wf.json
  daisy_integration_tests/image_export_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_nondefault_network_latest.wf.json
  daisy_integration_tests/image_export_release.wf.json
  daisy_integration_tests/image_export_ssd_quota_exceeded.wf.json
  daisy_integration_tests/image_export_subnetwork_latest.wf.json
  daisy_integration_tests/image_export_vmdk_given_size_verify.subwf.json
  daisy_integration_tests/image_export_vmdk_latest.wf.json
  daisy_integration_tests/image_export_vmdk_latest_with_pd_standard.wf.json
  daisy_integration_tests/image_export_vmdk_release.wf.json
  daisy_integration_tests/scripts/run_daisy_and_check_logs.sh
  daisy_integration_tests/step_attach_disks.wf.json
  daisy_integration_tests/step_copy_gcs_object.wf.json
  daisy_integration_tests/step_create_disks.wf.json
  daisy_integration_tests/step_create_images.wf.json
  daisy_integration_tests/step_create_instances.wf.json
  daisy_integration_tests/step_create_machine_images.wf.json
  daisy_integration_tests/step_create_networks.wf.json
  daisy_integration_tests/step_create_snapshots.wf.json
  daisy_integration_tests/step_detach_disks.wf.json
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
  daisy_integration_tests/validate_cloud_logging.wf.json
  daisy_integration_tests/vmdk_import_latest.wf.json
Due: none
