Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Update firewall_rule.go
  daisy/firewall_rule.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Update step_delete_resources.go
  daisy/step_delete_resources.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

add firewall in step_delete_resource step (#1654)
  daisy/step_delete_resources.go
  daisy/step_delete_resources_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Fix endpoint var.
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_10_worker.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix endpoint var. (#1656)
  daisy_workflows/build-publish/debian/debian_10.publish.json
  daisy_workflows/build-publish/debian/debian_10_worker.publish.json
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/debian/debian_9.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_4_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_6_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_7_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_1_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

cleanerupper: point to official osconfig client libraries
  test-infra/prowjobs/cleanerupper/go.mod
  test-infra/prowjobs/cleanerupper/go.sum
  test-infra/prowjobs/cleanerupper/main.go
Due: none

Add GVNIC flag to supported OS's.
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

fix
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
Due: none

Add GVNIC flag to supported OS's. (#1658)
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Run image export E2E tests in a couple of different regions in Asia and Europe.
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
Due: none

Revert "Add GVNIC flag to supported OS's. (#1658)"
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

Fix RHEL metal dev build/publish.
  daisy_workflows/build-publish/bare_metal/rhel_7_metal.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_7_metal.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_7_metal_dev.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal_dev.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal_dev.wf.json
Due: none

Fix RHEL metal dev build/publish. (#1661)
  daisy_workflows/build-publish/bare_metal/rhel_7_metal.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_7_metal.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_7_metal_dev.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal_dev.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8_metal_dev.wf.json
Due: none

Revert "Add GVNIC flag to supported OS's. (#1658)" (#1660)
  daisy_workflows/build-publish/debian/debian_11.publish.json
  daisy_workflows/build-publish/enterprise_linux/almalinux_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rocky_linux_8.publish.json
Due: none

replace previous implementation and tests from customizeErrorToDetectionResults
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/errors.go
  cli_tools/common/image/importer/errors_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Improve error message when detected OS doesn't match specified OS.
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/errors.go
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/image/importer/process_planner_test.go
  cli_tools/common/image/importer/processor.go
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Ensure error message is shown during OVF import
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/errors.go
  cli_tools/common/image/importer/errors_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Run image export E2E tests in a couple of different regions (#1659)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
Due: none

Improve error message when detected OS doesn't match specified OS. (#1655)
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/common/image/importer/bootable_disk_processor_test.go
  cli_tools/common/image/importer/errors.go
  cli_tools/common/image/importer/errors_test.go
  cli_tools/common/image/importer/process_planner.go
  cli_tools/common/image/importer/process_planner_test.go
  cli_tools/common/image/importer/processor.go
  daisy_workflows/linux_common/utils/diskutils.py
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import E2E test to run in different zones. This will help verify regional Cloud builds.
  cli_tools/go.sum
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

cleanerupper: point to official osconfig client libraries (#1657)
  test-infra/prowjobs/cleanerupper/go.mod
  test-infra/prowjobs/cleanerupper/go.sum
  test-infra/prowjobs/cleanerupper/main.go
Due: none

OVF import E2E test to run in different zones. This will help verify regional Cloud builds. (#1662)
  cli_tools/go.sum
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  cli_tools_tests/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Adding ability to pass qemu options to image export pipeline
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OFix VF import E2E tests so they respect custom zones when verifying test instance (not use the default zone when looking up test instances)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: none

OFix VF import E2E tests so they respect custom zones when verifying test instance (not use the default zone when looking up test instances) (#1665)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_import_e2e_common.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
Due: none

Image export: Improve error message when source image not found
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image export: Improve error message when source image not found (#1666)
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Move regionalized E2E tests that were running in asia-east1 to asia-east2 due to stockouts.
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Move regionalized E2E tests that were running in asia-east1 to asia-east2 due to stockouts. (#1667)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Image export: Only validate non-URI images
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import E2E test to run in different zones. This will help verify regional Cloud builds.
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Use privacy error message format
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import E2E test to run in different zones. This will help verify regional Cloud builds. (#1669)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Image export: Only validate non-URI images (#1668)
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image export and OVF import regional E2E tests to use asia-northeast1 due to stockouts in asia-east1 and due to inability to run Google workloads in asia-east2.
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Image export and OVF import regional E2E tests to use asia-northeast1 due to stockouts in asia-east1 and due to inability to run Google workloads in asia-east2. (#1670)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/export/image_export_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Windows Server build and publish workflow files for Concourse
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2004-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2012r2-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2016-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-2019-dc-uefi.wf.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.publish.json
  daisy_workflows/build-publish/windows/windows-server-20h2-dc-core-uefi.wf.json
  daisy_workflows/build-publish/windows/windows_export.wf.json
Due: none

Adding Windows Container build and publish workflows
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.publish.json
  daisy_workflows/build-publish/windows_container/windows-2019-core-for-containers-uefi.wf.json
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.publish
  daisy_workflows/build-publish/windows_container/windows-2019-for-containers-uefi.wf.json
Due: none

Add 4 new regions to build import/export wrappers to.
  cli_tools_cloudbuild.yaml
Due: none

Add 4 new regions to build import/export wrappers to. (#1671)
  cli_tools_cloudbuild.yaml
Due: none
