Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Update translate.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Windows import: Don't disable hibernation.
  daisy_workflows/image_import/windows/translate.ps1
Due: none

fix import-without-permission e2e err msg
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

fix import-without-permission e2e err msg (#1474)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

CentOS Stream build.
  daisy_workflows/image_build/enterprise_linux/centos_stream.wf.json
Due: none

fix
  daisy_workflows/build-publish/enterprise_linux/centos_8_uefi.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream.wf.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_uefi.publish.json
Due: none

fix
  daisy_workflows/build-publish/enterprise_linux/centos_8_uefi.wf.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream.wf.json
Due: none

Add gaohannk to reviewers (#1460)
  OWNERS
Due: none

Show a more user friendly error when external IP addresses are prohibited by org policy with a link to image import docs.
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

revert commit in error for main.go
  cli_tools/gce_vm_image_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

nil check for err before making it user friendly
  cli_tools/gce_vm_image_import/cli/cli.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix
  daisy_workflows/image_build/enterprise_linux/enterprise_linux_uefi.wf.json
Due: none

Show a more user friendly error when external IP addresses are prohibited (#1476)
  cli_tools/gce_vm_image_import/cli/cli.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Always run inspection
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock_inspect.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update inspect.go
  cli_tools/common/disk/inspect.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rebase with ovf export
  cli_tools/gce_ovf_export/exporter/exporter_test.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/mocks/mock_disk_inspector.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

tony's feedback
  cli_tools/common/disk/inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Always run inspection (#1469)
  cli_tools/common/disk/inspect.go
  cli_tools/common/disk/inspect_test.go
  cli_tools/common/disk/mocks/mock_inspect.go
  cli_tools/gce_ovf_export/exporter/exporter_test.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/mocks/mock_disk_inspector.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  daisy_workflows/image_import/inspection/daisy-shim.sh
  daisy_workflows/image_import/inspection/src/boot_inspect/cli.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-post.cfg
Due: none

fix
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
Due: none

Disk inspection: Honor no-external-ip
  cli_tools/common/disk/inspect.go
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools_tests/infra/README
  cli_tools_tests/infra/no-external-ip/README
  cli_tools_tests/infra/no-external-ip/iam.tf
  cli_tools_tests/infra/no-external-ip/main.tf
  cli_tools_tests/infra/no-external-ip/network.tf
  cli_tools_tests/infra/no-external-ip/project.tf
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools/daisycommon/daisy_utils.go
  cli_tools_tests/infra/README
  cli_tools_tests/infra/no-external-ip/README
  cli_tools_tests/infra/no-external-ip/iam.tf
  cli_tools_tests/infra/no-external-ip/main.tf
  cli_tools_tests/infra/no-external-ip/network.tf
  cli_tools_tests/infra/no-external-ip/project.tf
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Use receivers for EnvironmentSettings functions
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/daisycommon/daisy_utils_test.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disk inspection: Honor no-external-ip (#1478)
  cli_tools/common/disk/inspect.go
  cli_tools/daisycommon/daisy_utils.go
  cli_tools/daisycommon/daisy_utils_test.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/gce_ovf_export/domain/args.go
  cli_tools/gce_ovf_export/domain/args_test.go
  cli_tools/gce_ovf_export/exporter/exporter.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_windows_upgrade/upgrader/utils.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add devcluster build
  daisy_workflows/build-publish/debian/debian_10_worker.publish.json
  daisy_workflows/build-publish/debian/debian_10_worker.wf.json
  daisy_workflows/build-publish/linux_devcluster/centos_7_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/centos_8_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/centos_dev.sh
  daisy_workflows/build-publish/linux_devcluster/debian_10_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/debian_9_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/debian_dev.sh
  daisy_workflows/build-publish/linux_devcluster/debian_proxy_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/debian_staging.publish.json
  daisy_workflows/build-publish/linux_devcluster/devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/proxy_dev.sh
  daisy_workflows/build-publish/linux_devcluster/ubuntu_1404_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/ubuntu_1604_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/ubuntu_1804_devcluster.wf.json
Due: none

remove eu and us for testing
  daisy_workflows/build-publish/linux_devcluster/devcluster.wf.json
Due: none

fix debian worker var
  daisy_workflows/build-publish/debian/debian_10_worker.wf.json
Due: none

add copy to eu and us back
  daisy_workflows/build-publish/linux_devcluster/devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/ubuntu_1404_devcluster.wf.json
Due: none

Updating the GCE Windows Build (#1453)
  daisy_workflows/image_build/windows/README.md
  daisy_workflows/image_build/windows/bootstrap_install.ps1
  daisy_workflows/image_build/windows/components/Autounattend-template.xml
  daisy_workflows/image_build/windows/components/SetupComplete.cmd
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-build.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
Due: none

Configuring WinRM on Windows clients OSs (#1455)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

add gcs_url
  daisy_workflows/build-publish/linux_devcluster/centos_7_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/centos_8_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/debian_10_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/debian_9_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/debian_proxy_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/proxy_dev.sh
  daisy_workflows/build-publish/linux_devcluster/ubuntu_1604_devcluster.wf.json
  daisy_workflows/build-publish/linux_devcluster/ubuntu_1804_devcluster.wf.json
Due: none

Image import: Modularize arguments
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
  cli_tools/gce_vm_image_import/importer/request.go
  cli_tools/gce_vm_image_import/importer/request_test.go
  cli_tools/gce_vm_image_import/importer/validator.go
  cli_tools/gce_vm_image_import/importer/validator_test.go
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/scratch_ownership_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add bare metal worker flow
  daisy_workflows/build-publish/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/build-publish/bare_metal/bare_metal_linux.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_7.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_7.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8.wf.json
Due: none

Limiting hibernate to Win7/2008R2 SP1 and above.
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Zoran's feedback
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/gce_vm_image_import/importer/request.go
  cli_tools/gce_vm_image_import/importer/request_test.go
  cli_tools/go.mod
  cli_tools/go.sum
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Limiting hibernate to Win7/2008R2 SP1 and above. (#1482)
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Add SerialPortsToLog parameter to InstanceBase
  daisy/instance.go
  daisy/instance_test.go
  daisy/step_create_instances.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Excluding Win7 from disabling hibernate
  daisy_workflows/image_import/windows/translate.ps1
Due: none
