Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

[log] switch fields order
  cli_tools/common/utils/logging/service/log_entry.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Update windows_8_x86_byol.wf.json"
  daisy_integration_tests/windows_8_x86_byol.wf.json
Due: none

Update windows_8_x86_byol.wf.json
  daisy_integration_tests/windows_8_x86_byol.wf.json
Due: none

Update windows_8_x86_byol.wf.json (#1404)
  daisy_integration_tests/windows_8_x86_byol.wf.json
Due: none

[log] switch fields order (#1403)
  cli_tools/common/utils/logging/service/log_entry.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[log] move inspection_results location
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

adjust
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update translate.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Updated V2V adapt E2E test criteria to match the new V2V adaptation module output format.
  daisy_integration_tests/v2v_adapt_windows.wf.json
  daisy_integration_tests/v2v_adapt_windows_byol.wf.json
Due: none

[log] switch to input_params.inspection_reasults due to the current proto
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[log] move the loc of inspection_results due to the inconsistency of proto v.s. design (#1407)
  cli_tools/common/utils/logging/service/log_entry.go
  cli_tools/common/utils/logging/service/logger.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updated V2V adapt E2E test criteria to match the new V2V adaptation module output format. (#1406)
  daisy_integration_tests/v2v_adapt_windows.wf.json
  daisy_integration_tests/v2v_adapt_windows_byol.wf.json
Due: none

Update daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Update translate_windows_wf.json
  daisy_workflows/image_import/windows/translate_windows_wf.json
Due: none

Remove temporary tests confirming gcloud update
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Remove temporary tests confirming gcloud update (#1408)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

[vmdk] make sure shadow disk to be deleted
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e/utils.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

adjust
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

adjust
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

adjust
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[VMDK API Adoption] cleanup shadow disk when error happens (#1365)
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/e2e/utils.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

zoran's feedback
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp2-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp3-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp4-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp5-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sap-v20200701.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp1-sap-v20200701.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp2-sap-v20200721.yaml
Due: prow/presubmit/pytest/boot-inspect

boot_inspect: Differentiate between SLES and SLES for SAP (#1401)
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp2-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp3-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp4-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp5-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sap-v20200701.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp1-sap-v20200701.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp2-sap-v20200721.yaml
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Don't fail import when 70-persistent-net.rules is a directory
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Don't fail import when 70-persistent-net.rules is a directory (#1409)
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

SLES import: Improve error messaging when SUSE not found on disk (#1395)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/setup.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

added a check if a step did run
  cli_tools/gce_vm_image_import/importer/importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update translate.ps1 to better handle being unable to obtain metadata setting values (#1405)
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_windows_wf.json
Due: none

inflater runStep wf.Done() in a defer
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Reverting the 64Bit OS detection to using metadata value
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_windows_wf.json
Due: none

Reverting the 64Bit OS detection and going back to using metadata value (#1412)
  daisy_workflows/image_import/windows/translate.ps1
  daisy_workflows/image_import/windows/translate_windows_wf.json
Due: none

Windows import: Continue when VMWare Tools fails to uninstall
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Fixed an edge case in image importer run step that can cause a deadlock on timeout (#1411)
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Windows import: Continue when VMWare Tools fails to uninstall (#1413)
  daisy_workflows/image_import/windows/translate.ps1
Due: none
