Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Reflect deprecation of SECURE_BOOT
  cli_tools/common/utils/string/string_utils_test.go
  daisy/common_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disable hibernate via the registry
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Reflect deprecation of SECURE_BOOT (#1484)
  cli_tools/common/utils/string/string_utils_test.go
  daisy/common_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add gcs_url var
  daisy_workflows/build-publish/bare_metal/rhel_7.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8.wf.json
Due: none

Integration test: verify hibernation is disabled.
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

Image import: Modularize arguments (#1481)
  cli_tools/common/utils/validation/validation_utils.go
  cli_tools/common/utils/validation/validation_utils_test.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools/gce_vm_image_import/cli/cli.go
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/args_test.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor.go
  cli_tools/gce_vm_image_import/importer/bootable_disk_processor_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools/gce_vm_image_import/importer/process_planner.go
  cli_tools/gce_vm_image_import/importer/process_planner_test.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools/gce_vm_image_import/importer/processor_test.go
  cli_tools/gce_vm_image_import/importer/request.go
  cli_tools/gce_vm_image_import/importer/request_test.go
  cli_tools/gce_vm_image_import/importer/validator.go
  cli_tools/gce_vm_image_import/importer/validator_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/scratch_ownership_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rename devcluster to dev
  daisy_workflows/build-publish/linux_dev/centos_7_dev.wf.json
  daisy_workflows/build-publish/linux_dev/centos_8_dev.wf.json
  daisy_workflows/build-publish/linux_dev/centos_dev.sh
  daisy_workflows/build-publish/linux_dev/debian_10_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_9_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_dev.sh
  daisy_workflows/build-publish/linux_dev/debian_staging.publish.json
  daisy_workflows/build-publish/linux_dev/development.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1604_dev.wf.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1804_dev.wf.json
Due: none

Changing hibernation management to use direct registry modification (#1483)
  daisy_integration_tests/scripts/post_translate_test.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Adding hibernation shutdown integration check
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

Updated READMEs for image importer/exporter and OVF importer. Updated help text for a couple of args in image importer.
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

formatting
  cli_tools/gce_ovf_import/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Image Import OS From VHD
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Improving hibernation integration test (#1487)
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

Updating hibernation registry check
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

Updating hibernation registry check (#1488)
  daisy_integration_tests/scripts/post_translate_test.ps1
Due: none

Import module: Allow network to be empty
  cli_tools/gce_vm_image_import/importer/request.go
  cli_tools/gce_vm_image_import/importer/request_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Descriptive image name & removed testing comment
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Import module: Allow network to be empty (#1489)
  cli_tools/gce_vm_image_import/importer/request.go
  cli_tools/gce_vm_image_import/importer/request_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update Debian cloud build tools commit.
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
Due: none

Update Debian cloud build tools commit. (#1490)
  daisy_workflows/image_build/debian/debian_10_fai.wf.json
Due: none

Fix cli parameter name to source-file
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Fix centos-stream-8 path.
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
Due: none

Fix centos-stream-8 path. (#1492)
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.wf.json
Due: none

Add libatomic to RHEL for SAP build.
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-sap-post.cfg
Due: none

Image import: Add e2e test case for VHD
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Add libatomic to RHEL for SAP build. (#1493)
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-sap-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-sap-post.cfg
Due: none

Devcluster image build (#1480)
  daisy_workflows/build-publish/debian/debian_10_worker.publish.json
  daisy_workflows/build-publish/debian/debian_10_worker.wf.json
  daisy_workflows/build-publish/linux_dev/centos_7_dev.wf.json
  daisy_workflows/build-publish/linux_dev/centos_8_dev.wf.json
  daisy_workflows/build-publish/linux_dev/centos_dev.sh
  daisy_workflows/build-publish/linux_dev/debian_10_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_9_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_dev.sh
  daisy_workflows/build-publish/linux_dev/debian_staging.publish.json
  daisy_workflows/build-publish/linux_dev/development.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1604_dev.wf.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1804_dev.wf.json
Due: none

make the actual build wf into image_build
  daisy_workflows/build-publish/bare_metal/rhel_7.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
Due: none

Image import: Add e2e test case for VHD (#1494)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

Bare metal image (#1485)
  daisy_workflows/build-publish/bare_metal/rhel_7.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_7.wf.json
  daisy_workflows/build-publish/bare_metal/rhel_8.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8.wf.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
  daisy_workflows/image_build/bare_metal/bare_metal_linux.wf.json
Due: none

Remove unnecessary MTU settings. The DHCP response includes the correct MTU settings.
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-stream-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-options.cfg
Due: none

Remove unnecessary MTU settings.
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/centos-stream-8-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-7-options.cfg
  daisy_workflows/image_build/enterprise_linux/kickstart/rhel-8-options.cfg
Due: none

Updated READMEs for image importer/exporter and OVF importer. (#1486)
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add disk space warning for Windows imports
  daisy_workflows/image_import/windows/translate_bootstrap.ps1
Due: none

RHEL 8 boot for bare metal.
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

RHEL 8 boot for bare metal. (#1498)
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Don't set cmdline args since they are pulled from the running system from /proc/cmdline.
  daisy_workflows/build-publish/bare_metal/rhel_7.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8.publish.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Don't set cmdline args since they are pulled from the running system (#1499)
  daisy_workflows/build-publish/bare_metal/rhel_7.publish.json
  daisy_workflows/build-publish/bare_metal/rhel_8.publish.json
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Add inspection resources to docker image
  cli_tools/common/image/importer/metadata_processor.go
  cli_tools/common/image/importer/metadata_processor_test.go
  gce_ovf_import.Dockerfile
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools
