Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

typo
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: none

minors
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

rename vars
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disk inspection: Respect custom network and subnet (#1378)
  cli_tools/common/disk/inspect.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

rename
  cli_tools/common/disk/inspect.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

comment doc
  cli_tools/common/disk/inspect.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

py format
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Windows inspection: Use marketing versions
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test_model.py
  daisy_workflows/image_import/inspection/tests/test_windows.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Remove windows_server and windows_client
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test_model.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

[windows upgrade] modify grammer that is incompatible on old versions
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

EL import: Stop masking yum_install errors
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

SLES import: Improve error messaging when SUSE not found on disk
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/suse/suse_import/setup.py
  daisy_workflows/image_import/suse/suse_import/translate.py
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

[uefi suppoer] enable uefi detection
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[windows upgrade] modify grammer that is incompatible on old versions (#1392)
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

don't return err if inspection failed
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

move the logic
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Inflation: Verify disk size prior to resizing
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  cli_tools_tests/module/import/file_inflation_test.go
  cli_tools_tests/module/import/pkg_test.go
  cli_tools_tests/module/import/scratch_ownership_test.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools_tests/module/import/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Boot inspect: Refactor linux matching
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Rename SentinelFileMatcher to FileExistenceMatcher
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

append trace log
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Include logs in a single directory
  cli_tools/common/assert/assert.go
  cli_tools/common/assert/assert_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

improve test"
  cli_tools/common/utils/logging/service/literal_loggable_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools/common/assert/assert.go
  cli_tools/common/assert/assert_test.go
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[uefi support] enable uefi detection (#1396)
  cli_tools/common/utils/logging/service/literal_loggable.go
  cli_tools/common/utils/logging/service/literal_loggable_test.go
  cli_tools/gce_vm_image_import/importer/disk_inspection_processor.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/processor.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update translate.ps1
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Tony's feedback.
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[onestep import] disable gcloud e2e tests until release
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

[onestep import] disable gcloud e2e tests until release (#1400)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

Windows inspection: Use marketing versions (#1391)
  cli_tools_tests/module/diskinspect/disk_inspect_test.go
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/windows.py
  daisy_workflows/image_import/inspection/tests/test_model.py
  daisy_workflows/image_import/inspection/tests/test_windows.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

Boot inspect: Refactor linux matching to allow SLES for SAP detection (#1393)
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/inspectors/os/linux.py
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

EL import: Stop masking yum_install errors (#1394)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Image import: Include logs in a single directory (#1398)
  cli_tools/gce_vm_image_import/importer/args.go
  cli_tools/gce_vm_image_import/importer/args_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Inflation: Verify disk size prior to resizing (#1397)
  cli_tools/gce_vm_image_import/importer/api_inflater.go
  cli_tools/gce_vm_image_import/importer/api_inflater_test.go
  cli_tools/gce_vm_image_import/importer/importer.go
  cli_tools/gce_vm_image_import/importer/importer_test.go
  cli_tools/gce_vm_image_import/importer/inflater.go
  cli_tools/gce_vm_image_import/importer/inflater_test.go
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/pkg_test.go
  cli_tools_tests/module/import/scratch_ownership_test.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Disk inspection: Differentiate between SLES and SLES for SAP
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/src/boot_inspect/model.py
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp2-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp3-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp4-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-12-sp5-sap-v20200610.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sap-v20200701.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp1-sap-v20200701.yaml
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-sles-15-sp2-sap-v20200721.yaml
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect

[log metrics] fix the json name
  cli_tools/common/utils/logging/service/log_entry.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[log metrics] fix the json name (#1402)
  cli_tools/common/utils/logging/service/log_entry.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Update windows_8_x86_byol.wf.json
  daisy_integration_tests/windows_8_x86_byol.wf.json
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
