Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

Enable onestep-import gcloud e2e (#1524)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

disable shadow test e2e
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

export daisy infalter newer
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools_tests/module/import/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

[vmdk api adoption] Switch from shadow-test mode to fallback mode (#1514)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
  cli_tools/common/image/importer/daisy_inflater.go
  cli_tools/common/image/importer/daisy_inflater_test.go
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
  cli_tools/go.mod
  cli_tools/go.sum
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Switch to patch
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

Ubuntu 18.04+ import: Add /snap/bin to service's path (#1525)
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8

[e2e fix] adjust err msg for disabled-account-service testcase
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

[e2e fix] adjust err msg for disabled-account-service testcase (#1526)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/cli_tests.go
Due: none

Add missing variables to build step
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-byol.wf.json
Due: none

Add EPEL for RHEL 8 and extra net dev packages.
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Image import: Include network and subnet for inspection
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/vpc_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add EPEL for RHEL 8 and extra net dev packages. (#1529)
  daisy_workflows/image_build/bare_metal/bare_metal_image_preparer.sh
Due: none

Add time var to publish workflows.
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.publish.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.publish.json
Due: none

fix
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.publish.json
Due: none

Add time var to publish workflows. (#1531)
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.publish.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.publish.json
Due: none

Run go mod tidy on cli_tools_tests/go.mod
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Add missing variables to build step (#1527)
  daisy_workflows/image_build/windows/windows-server-2016-dc-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-bios-byol.wf.json
Due: none

Run go mod tidy on cli_tools_tests/go.mod (#1532)
  cli_tools_tests/go.mod
  cli_tools_tests/go.sum
Due: none

Image import: Include network and subnet for inspection (#1530)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools_tests/module/import/inflater_test.go
  cli_tools_tests/module/import/vpc_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add win10/2012 builds. Remove most bios builds.
  daisy_workflows/image_build/windows/README.md
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
Due: none

add export metdata for windows
  daisy_workflows/export_metadata/export-metadata.ps1
  daisy_workflows/export_metadata/export_metadata_windows.wf.json
Due: none

Using development.json instead directly use workflow in image_build
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.wf.json
Due: none

add missing var
  daisy_workflows/build-publish/linux_dev/centos_7_dev.wf.json
  daisy_workflows/build-publish/linux_dev/centos_8_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_10_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_9_dev.wf.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1604_dev.wf.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1804_dev.wf.json
Due: none

fix file name
  daisy_workflows/build-publish/linux_dev/development.wf.json
Due: none

Add win10/2012 builds. Remove most bios builds. (#1533)
  daisy_workflows/image_build/windows/README.md
  daisy_workflows/image_build/windows/post_install.ps1
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-build-bios.wf.json
  daisy_workflows/image_build/windows/windows-build-uefi.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
Due: none

Pass "pwsh" variable to windows-build workflow
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
Due: none

Pass "pwsh" variable to windows-build workflow (#1537)
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-payg.wf.json
Due: none

OVF refactor: Promote to GA
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Zoran's feedback
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF import: Use import module for GA (#1528)
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add GVNIC flag to supported images.
  daisy_workflows/build-publish/enterprise_linux/centos_7.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/centos_stream_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_7_byos.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_2_sap.publish.json
  daisy_workflows/build-publish/enterprise_linux/rhel_8_byos.publish.json
  daisy_workflows/image_build/enterprise_linux/centos_7.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_8.wf.json
  daisy_workflows/image_build/enterprise_linux/centos_stream_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_7_byos.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8.wf.json
  daisy_workflows/image_build/enterprise_linux/rhel_8_byos.wf.json
Due: none

Bare metal dev (#1535)
  daisy_workflows/build-publish/linux_dev/centos_7_dev.wf.json
  daisy_workflows/build-publish/linux_dev/centos_8_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_10_dev.wf.json
  daisy_workflows/build-publish/linux_dev/debian_9_dev.wf.json
  daisy_workflows/build-publish/linux_dev/development.wf.json
  daisy_workflows/build-publish/linux_dev/rhel_7_metal_dev.wf.json
  daisy_workflows/build-publish/linux_dev/rhel_8_metal_dev.wf.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1604_dev.wf.json
  daisy_workflows/build-publish/linux_dev/ubuntu_1804_dev.wf.json
Due: none

update powershell script
  daisy_workflows/export_metadata/export-metadata.ps1
  daisy_workflows/export_metadata/export_metadata_windows.wf.json
Due: none

Updating byol and 2012r2 workflows
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
Due: none

modify bug in script
  daisy_workflows/export_metadata/export-metadata.ps1
  daisy_workflows/export_metadata/export_metadata_windows.wf.json
Due: none

fix commit hash bug
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

Fixed OVF machine image e2e tests failing due to multiple tests sharing single Cloud Build
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Fixed OVF machine image e2e tests failing due to multiple tests sharing single Cloud Build (#1542)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Sanitizing OVF import compute service account flag
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

address comments
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none
