Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

remove /dev/null
  daisy_workflows/image_import/import_image.sh
Due: none

Daisy: Remove disk.IsWindows (#1718)
  cli_tools/test_data/test_import_ovf_to_instance.wf.json
  cli_tools/test_data/test_import_ovf_to_machine_image.wf.json
  daisy/disk.go
  daisy/disk_test.go
  daisy_workflows/image_import/import_and_translate.wf.json
  daisy_workflows/image_import/import_from_image.wf.json
  daisy_workflows/image_import/inflate_file.wf.json
  daisy_workflows/ovf_import/import_ovf_to_instance.wf.json
  daisy_workflows/ovf_import/import_ovf_to_machine_image.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Zoran's feedback
  cli_tools/daisycommon/daisy_worker.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Remove workflow.RunWithModifiers (#1717)
  cli_tools/common/image/importer/bootable_disk_processor.go
  cli_tools/daisycommon/daisy_worker.go
  cli_tools/daisycommon/daisy_worker_test.go
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter.go
  cli_tools/gce_ovf_export/exporter/steps.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer_test.go
  cli_tools/gce_vm_image_export/exporter/exporter.go
  daisy/workflow.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

adjust line read
  daisy/step_wait_for_instances_signal.go
  daisy_workflows/image_import/import_image.sh
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

revert unnecessary changes
  daisy_workflows/image_import/import_image.sh
Due: none

revert unnecessary changes
  daisy/step_wait_for_instances_signal.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Daisy:support guestattrs in WaitForInstancesSignal
  daisy/compute/compute.go
  daisy/compute/test_client.go
  daisy/step_wait_for_instances_signal.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

revert unnecessary changes
  daisy/step_wait_for_instances_signal.go
  daisy/step_wait_for_instances_signal_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

format
  daisy/step_wait_for_instances_signal_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

fix compute test
  daisy/compute/test_client_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

unit test fix
  daisy/step_wait_for_instances_signal_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

[daisy] fix output breakage for waitForInstanceSignal (#1719)
  daisy/step_wait_for_instances_signal.go
  daisy/step_wait_for_instances_signal_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

address PR feedback
  daisy/step_wait_for_instances_signal.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

add unit test
  daisy/step_wait_for_instances_signal_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

add integ test
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
Due: none

correct desc of integ test
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
Due: none

Daisy:support guestattrs in WaitForInstancesSignal (#1720)
  daisy/compute/compute.go
  daisy/compute/test_client.go
  daisy/compute/test_client_test.go
  daisy/step_wait_for_instances_signal.go
  daisy/step_wait_for_instances_signal_test.go
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Fix Debian apt updates in builds.
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

enable guest attrs in wait integ test
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
Due: none

enable guest attrs in wait integ test (#1723)
  daisy_integration_tests/step_wait_for_instance_signal.wf.json
Due: none

CLI Tools: Update compute mock following #1720
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

fix test: add \n for serial output
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter_test.go
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix test: add \n for serial output (#1725)
  cli_tools/gce_ovf_export/exporter/instance_disks_exporter_test.go
  cli_tools/mocks/mock_compute_client.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix Debian apt updates in builds. (#1721)
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

CLI Tools: Use deb10 worker for EL8 import and inspection
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
Due: prow/presubmit/pytest/boot-inspect

remove local override
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
Due: prow/presubmit/pytest/boot-inspect

CLI Tools: Use deb10 worker for EL8 import and inspection (#1726)
  daisy_workflows/image_import/enterprise_linux/translate_centos_8.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_byol.wf.json
  daisy_workflows/image_import/enterprise_linux/translate_rhel_8_licensed.wf.json
  daisy_workflows/image_import/inspection/boot-inspect.wf.json
Due: prow/presubmit/pytest/boot-inspect

Daisy: Remove e2e tests for SUSE import
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_integration_tests/opensuse_15_1.wf.json
  daisy_integration_tests/sles_12_4_byol.wf.json
  daisy_integration_tests/sles_12_5_byol.wf.json
  daisy_integration_tests/sles_15_1_byol.wf.json
  daisy_integration_tests/sles_sap_12_4_byol.wf.json
Due: none

addressing feedback
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fixing readme file
  cli_tools/gce_vm_image_export/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

simplifying logic
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  daisy_workflows/export/export_disk_ext.sh
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

simplifying changes further
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Daisy: Remove e2e tests for SUSE import (#1727)
  daisy_integration_tests/daisy_e2e.test.gotmpl
  daisy_integration_tests/opensuse_15_1.wf.json
  daisy_integration_tests/sles_12_4_byol.wf.json
  daisy_integration_tests/sles_12_5_byol.wf.json
  daisy_integration_tests/sles_15_1_byol.wf.json
  daisy_integration_tests/sles_sap_12_4_byol.wf.json
Due: none

fixing readme file again
  cli_tools/gce_vm_image_export/README.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Add options field to PopulateClients
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  daisy/daisy_test_runner/main.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Changed Client option in test runner to an expression
  daisy/daisy_test_runner/main.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
