Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$

update docs for guest attrs feature
  docs/daisy-workflow-config-spec.md
Due: none

typo fix
  docs/daisy-workflow-config-spec.md
Due: none

update docs for guest attrs feature (#1729)
  docs/daisy-workflow-config-spec.md
Due: none

Adding ability to export fixed-sized VHDs (#1664)
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

apt update: use --allow-releaseinfo-change
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Add workflow for Windows 11
  daisy_workflows/image_build/windows/windows-11-22000-x64-uefi-byol.wf.json
Due: none

Add workflow for Windows Server 2022
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-byol.wf.json
Due: none

Revert "Adding ability to export fixed-sized VHDs (#1664)"
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "Adding ability to export fixed-sized VHDs (#1664)" (#1731)
  cli_tools/gce_vm_image_export/README.md
  cli_tools/gce_vm_image_export/exporter/exporter.go
  cli_tools/gce_vm_image_export/exporter/exporter_test.go
  cli_tools/gce_vm_image_export/main.go
  daisy_workflows/export/export_disk_ext.sh
  daisy_workflows/export/image_export_ext.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

apt update: use --allow-releaseinfo-change (#1730)
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

zoran's feedback
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/common/utils/daisyutils/daisy_worker.go
  cli_tools/common/utils/daisyutils/daisy_worker_test.go
  cli_tools/common/utils/daisyutils/resource_labeler.go
  cli_tools/common/utils/daisyutils/workflow_modifier.go
  cli_tools/common/utils/daisyutils/workflow_modifier_logging.go
  cli_tools/common/utils/daisyutils/workflow_modifier_logging_test.go
  cli_tools/common/utils/daisyutils/workflow_modifier_no_external_ip.go
  cli_tools/common/utils/daisyutils/workflow_modifier_no_external_ip_test.go
  cli_tools/common/utils/daisyutils/workflow_modifier_workflow_properties.go
  cli_tools/common/utils/daisyutils/workflow_modifier_workflow_properties_test.go
  cli_tools/common/utils/daisyutils/workflow_modifier_workflow_vars.go
  cli_tools/common/utils/daisyutils/workflow_modifier_workflow_vars_test.go
  cli_tools/mocks/mock_daisy_worker.go
  cli_tools/mocks/mock_workflow_modifier.go
  cli_tools/mocks/mock_workflow_traversal.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Revert "apt update: use --allow-releaseinfo-change (#1730)"
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Revert "apt update: use --allow-releaseinfo-change" (#1732)
  daisy_workflows/image_build/debian/debian_10_worker.sh
  daisy_workflows/linux_common/bootstrap.sh
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Slow image rollout default time to be same time as the last zone in the rollout.
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

EL import: Improve initramfs rebuild messaging
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Updating spacing
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating format using gofmt
  cli_tools/gce_image_publish/publish/publish.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updating the format of publish_test.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Support Debian 11
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/debian/translate_debian_11.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add test for client options logic.
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Use varidic function parameter in PopulateClients
  cli_tools/gce_image_publish/main.go
  cli_tools/gce_image_publish/publish/publish.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Removed splice in PopulateClients from daisy test runner.
  daisy/daisy_test_runner/main.go
Due: prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy

Slow image rollout default time to be same time as the last zone in the rollout. (#1733)
  cli_tools/gce_image_publish/publish/publish.go
  cli_tools/gce_image_publish/publish/publish_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Output log if Cloud SDK fails
  daisy_workflows/image_build/windows/components/SetupComplete.cmd
Due: none

zoran's feedback
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Image import: Support release info changes in new versions of apt
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Image import: Support release info changes in new versions of apt (#1738)
  daisy_workflows/linux_common/utils/common.py
Due: prow/presubmit/flake8

Add options field to PopulateClients (#1728)
  cli_tools/gce_image_publish/publish/publish.go
  daisy/workflow.go
  daisy/workflow_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

EL import: Improve initramfs rebuild messaging (#1734)
  daisy_workflows/image_import/enterprise_linux/translate.py
Due: prow/presubmit/flake8

Image import: Support Debian 11 (#1735)
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools/gce_ovf_import/ovf_utils/ovf_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/debian/translate.py
  daisy_workflows/image_import/debian/translate_debian_11.wf.json
Due: prow/presubmit/flake8, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Image import: Support Rocky Linux 8
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate_rocky_8.wf.json
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-rocky-8-v20210817.yaml
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Import precheck: Refactor to allow mocking
  cli_tools/import_precheck/check.go
  cli_tools/import_precheck/check_powershell.go
  cli_tools/import_precheck/check_sha2.go
  cli_tools/import_precheck/check_ssh.go
  cli_tools/import_precheck/common.go
  cli_tools/import_precheck/main.go
  cli_tools/import_precheck/precheck/check.go
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
  cli_tools/import_precheck/precheck/check_disks_windows.go
  cli_tools/import_precheck/precheck/check_osversion.go
  cli_tools/import_precheck/precheck/check_osversion_test.go
  cli_tools/import_precheck/precheck/check_powershell.go
  cli_tools/import_precheck/precheck/check_sha2.go
  cli_tools/import_precheck/precheck/check_ssh.go
  cli_tools/import_precheck/precheck/common.go
  cli_tools/import_precheck/precheck/report.go
  cli_tools/import_precheck/precheck/testdata/lsblk-efi.json
  cli_tools/import_precheck/precheck/testdata/lsblk-multi-disk-lvm.json
  cli_tools/import_precheck/precheck/testdata/lsblk-one-partition.json
  cli_tools/import_precheck/precheck/testdata/lsblk-single-disk-lvm.json
  cli_tools/import_precheck/precheck/user_linux.go
  cli_tools/import_precheck/precheck/user_windows.go
  cli_tools/import_precheck/report.go
  cli_tools/import_precheck/user_linux.go
  cli_tools/import_precheck/user_windows.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Import precheck: Refactor to allow mocking (#1740)
  cli_tools/import_precheck/check.go
  cli_tools/import_precheck/check_powershell.go
  cli_tools/import_precheck/check_sha2.go
  cli_tools/import_precheck/check_ssh.go
  cli_tools/import_precheck/common.go
  cli_tools/import_precheck/main.go
  cli_tools/import_precheck/precheck/check.go
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
  cli_tools/import_precheck/precheck/check_disks_windows.go
  cli_tools/import_precheck/precheck/check_osversion.go
  cli_tools/import_precheck/precheck/check_osversion_test.go
  cli_tools/import_precheck/precheck/check_powershell.go
  cli_tools/import_precheck/precheck/check_sha2.go
  cli_tools/import_precheck/precheck/check_ssh.go
  cli_tools/import_precheck/precheck/common.go
  cli_tools/import_precheck/precheck/report.go
  cli_tools/import_precheck/precheck/testdata/lsblk-efi.json
  cli_tools/import_precheck/precheck/testdata/lsblk-multi-disk-lvm.json
  cli_tools/import_precheck/precheck/testdata/lsblk-one-partition.json
  cli_tools/import_precheck/precheck/testdata/lsblk-single-disk-lvm.json
  cli_tools/import_precheck/precheck/user_linux.go
  cli_tools/import_precheck/precheck/user_windows.go
  cli_tools/import_precheck/report.go
  cli_tools/import_precheck/user_linux.go
  cli_tools/import_precheck/user_windows.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Don't install the auto updater package on import
  daisy_workflows/image_import/windows/translate.ps1
Due: none

Image import: Support Rocky Linux 8 (#1739)
  cli_tools/common/distro/distro.go
  cli_tools/common/distro/distro_test.go
  cli_tools/common/utils/daisyutils/daisy_utils.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
  daisy_workflows/image_import/enterprise_linux/translate_rocky_8.wf.json
  daisy_workflows/image_import/inspection/src/boot_inspect/inspection.py
  daisy_workflows/image_import/inspection/tests/test-data/images/gcp-image-rocky-8-v20210817.yaml
  proto/go/pb/inspect.pb.go
  proto/go/pb/output_info.pb.go
  proto/inspect.proto
  proto/py/compute_image_tools_proto/inspect_pb2.py
  proto/py/compute_image_tools_proto/inspect_pb2.pyi
  proto/py/compute_image_tools_proto/output_info_pb2.py
  proto/py/compute_image_tools_proto/output_info_pb2.pyi
Due: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Import precheck: Support disk checking back to EL7
  cli_tools/common/mount/inspector.go
  cli_tools/common/mount/inspector_test.go
  cli_tools/common/mount/mock_mount_inspector.go
  cli_tools/common/utils/shell/executor.go
  cli_tools/import_precheck/main.go
  cli_tools/import_precheck/precheck/check_disks_linux.go
  cli_tools/import_precheck/precheck/check_disks_linux_test.go
  cli_tools/import_precheck/precheck/check_disks_windows.go
  cli_tools/import_precheck/precheck/check_osversion.go
  cli_tools/import_precheck/precheck/check_osversion_test.go
  cli_tools/import_precheck/precheck/check_powershell.go
  cli_tools/import_precheck/precheck/check_sha2.go
  cli_tools/import_precheck/precheck/check_ssh.go
  cli_tools/import_precheck/precheck/report.go
  cli_tools/import_precheck/precheck/testdata/lsblk-efi.json
  cli_tools/import_precheck/precheck/testdata/lsblk-multi-disk-lvm.json
  cli_tools/import_precheck/precheck/testdata/lsblk-one-partition.json
  cli_tools/import_precheck/precheck/testdata/lsblk-single-disk-lvm.json
  cli_tools/mocks/mock_shell_exececutor.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

..use trial SKUs
  daisy_workflows/image_build/windows/windows-server-2022-dc-core-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2022-dc-uefi-byol.wf.json
Due: none

validate guest environment packages are installed
  daisy_workflows/image_build/enterprise_linux/kickstart/el7-post.cfg
Due: none

fixed issue #1747, /etc/netplan/subdirectory
  daisy_workflows/image_import/ubuntu/translate.py
Due: prow/presubmit/flake8
