Repository GoogleCloudPlatform/compute-image-tools: changes, and which Prow jobs are due for each by the changed paths.
All: prow/presubmit/flake8, prow/presubmit/pytest/boot-inspect, prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/daisy, prow/presubmit/gotest/daisy, prow/presubmit/gobuild/daisy, prow/presubmit/gocheck/cli-tools-e2e-tests, prow/presubmit/gobuild/cli-tools-e2e-tests, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

prow/presubmit/flake8:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/flake8:latest
      imagePullPolicy: Always
      command:
      - /main.sh

prow/presubmit/pytest/boot-inspect:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/pytest:latest
      imagePullPolicy: Always
      command:
      - /main.py
      args:
      - daisy_workflows/image_import/inspection

prow/presubmit/gocheck/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gotest/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gobuild/cli-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools/

prow/presubmit/gocheck/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gotest/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gobuild/daisy:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - daisy/

prow/presubmit/gocheck/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gobuild/cli-tools-e2e-tests:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools_e2e_test/

prow/presubmit/gocheck/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gocheck:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

prow/presubmit/gotest/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gotest:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
    volumes:
    - name: codecov
      secret:
  ...

prow/presubmit/gobuild/clitools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/gcp-guest/gobuild:latest
      imagePullPolicy: Always
      command:
      - /go/main.sh
      args:
      - cli_tools

Route compute_service_account to create_gmi.wf.json as it's needed there for instance creation
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  daisy_workflows/ovf_import/create_gmi.wf.json
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Added custom Compute engine service account to OVF import (#1543)
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/main.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  common/gcp/instance.go
  daisy_workflows/ovf_import/create_gmi.wf.json
  daisy_workflows/ovf_import/create_instance.wf.json
  test-infra/prow/config.yaml
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Route compute_service_account to create_gmi.wf.json as it's needed there for instance creation
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix GMI e2e test using project for zone arg
  cli_tools/gce_ovf_export/exporter/ovf/envelope.go
  cli_tools_tests/e2e/gce_ovf_import/main.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

revert unrelated changes
  cli_tools/gce_ovf_export/exporter/ovf/envelope.go
  cli_tools_tests/e2e/gce_ovf_import/main.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Fix GMI e2e tests using project for zone (#1544)
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: none

Make sure dhcp-client is installed for EL8.
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-packages.cfg
Due: none

Make sure dhcp-client is installed for EL8. (#1545)
  daisy_workflows/image_build/enterprise_linux/kickstart/el8-packages.cfg
Due: none

add try catch
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

add var distribution
  daisy_workflows/export_metadata/export_metadata_windows.wf.json
Due: none

Updating byol and 2012r2 workflows (#1540)
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x64-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-10-20h2-ent-x86-bios-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2012r2-dc-uefi-payg.wf.json
  daisy_workflows/image_build/windows/windows-server-2016-dc-uefi-byol.wf.json
  daisy_workflows/image_build/windows/windows-server-2019-dc-uefi-byol.wf.json
Due: none

[onestep-import e2e] only test windows for wrapper
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

OVF Import: added -scope flag to allow custom instance access scopes to be set by users.
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  common/gcp/instance.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add a reason in comment
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

[onestep-import e2e] only test windows for wrapper (#1546)
  cli_tools_tests/e2e/gce_image_import_export/test_suites/onestep_import/onestep_import_test_suite.go
Due: none

add debian 9 build deps
  daisy_workflows/image_build/debian/build.py
Due: prow/presubmit/flake8

add debian 9 build deps (#1548)
  daisy_workflows/image_build/debian/build.py
Due: prow/presubmit/flake8

Add -byol flag to OVF import
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder_test.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

OVF Import: set default access scopes if not specified by user.
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

use prefix match instead index of array
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

zoran's feedback
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

update build_date to publish_date
  daisy_workflows/export_metadata/export-metadata.ps1
  daisy_workflows/export_metadata/export-metadata.py
Due: prow/presubmit/flake8

OVF Import: added -scope flag to allow custom instance access scopes (#1547)
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_importer.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator.go
  cli_tools/gce_ovf_import/ovf_importer/ovf_param_validator_test.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_instance_import/ovf_instance_import_test_suite.go
  cli_tools_tests/e2e/gce_ovf_import/test_suites/ovf_machine_image_import/ovf_machine_image_import_test_suite.go
  common/gcp/instance.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

switch to pointers
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_vm_image_import/cli/args.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Add -byol flag to OVF import (#1549)
  cli_tools/common/image/importer/request.go
  cli_tools/common/image/importer/request_test.go
  cli_tools/gce_ovf_import/README.md
  cli_tools/gce_ovf_import/domain/ovf_import_params.go
  cli_tools/gce_ovf_import/main.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder.go
  cli_tools/gce_ovf_import/multi_image_importer/request_builder_test.go
  cli_tools/gce_vm_image_import/README.md
  cli_tools/gce_vm_image_import/cli/args.go
  cli_tools/gce_vm_image_import/cli/args_test.go
  cli_tools_tests/e2e/gce_image_import_export/test_suites/import/import_tests.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add export metadata for windows (#1534)
  daisy_workflows/export_metadata/export-metadata.ps1
  daisy_workflows/export_metadata/export-metadata.py
  daisy_workflows/export_metadata/export_metadata_windows.wf.json
Due: prow/presubmit/flake8

Updating windows image build docs
  daisy_workflows/image_build/windows/README.md
Due: none

Updating windows image build docs (#1550)
  daisy_workflows/image_build/windows/README.md
Due: none

Update cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Apply suggestions from code review
  cli_tools/gce_windows_upgrade/upgrade_script_2008r2_to_2012r2.ps1
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Test correct population of FileFormat field
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Format code
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Updates
  cli_tools/gce_export/README.md
  cli_tools/gce_vm_image_export/README.md
  docs/daisy-workflow-config-spec.md
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools

Switch to shadow disk inflater
  cli_tools/common/image/importer/inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

disabled test
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

Switch to shadow disk inflater (#1552)
  cli_tools/common/image/importer/inflater.go
  cli_tools/common/image/importer/inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

added default service account in shadow disk inflater checksum calculator workflow
  cli_tools/common/image/importer/api_inflater.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

fix api inflater default service account test
  cli_tools/common/image/importer/api_inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

added default service account in shadow disk inflater checksum calculator workflow (#1553)
  cli_tools/common/image/importer/api_inflater.go
  cli_tools/common/image/importer/api_inflater_test.go
Due: prow/presubmit/gocheck/cli-tools, prow/presubmit/gotest/cli-tools, prow/presubmit/gobuild/cli-tools, prow/presubmit/gocheck/clitools, prow/presubmit/gotest/clitools, prow/presubmit/gobuild/clitools

add serial prefix
  daisy_workflows/export_metadata/export-metadata.ps1
Due: none

Path conditions:
  prow/presubmit/flake8: any of: .*\.py$
  prow/presubmit/pytest/boot-inspect: any of: daisy_workflows/image_import/inspection/.*
  prow/presubmit/gocheck/cli-tools: any of: cli_tools/.*
  prow/presubmit/gotest/cli-tools: any of: cli_tools/.*
  prow/presubmit/gobuild/cli-tools: any of: cli_tools/.*
  prow/presubmit/gocheck/daisy: any of: daisy/.*
  prow/presubmit/gotest/daisy: any of: daisy/.*
  prow/presubmit/gobuild/daisy: any of: daisy/.*
  prow/presubmit/gocheck/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gobuild/cli-tools-e2e-tests: any of: cli_tools_e2e_test/.*
  prow/presubmit/gocheck/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gotest/clitools: any of: cli_tools/.*\.go$
  prow/presubmit/gobuild/clitools: any of: cli_tools/.*\.go$
